{% extends 'djchannels/base.html' %}
{% block content %}
<div class='col-sm-12'>
    <h1>{{ post.title }}</h1>
    <p class='lead'>{{ post.content }}</p>
    <small>{{ post.timestamp }}</small>
    <h2>Комментарии</h2>
    <hr>
    {% for comment in comments %}
    <div class='col-sm-12'>
    <p>{{ comment.comment_text }}</p>
    <small>Пользователь: {{ comment.author.username }}</small>
    <br>
    <small>{{ comment.timestamp|date:"Y-m-d H:i:s" }}</small>
    <hr>
    </div>
    {% endfor %}
    <div class='col-sm-12' id='comments'>
    </div>
    <form action='' id='comments_form' method='POST'>
        <input type='hidden' id='user' value="{{ user.username }}", data-post='{{ post.slug }}'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' class='btn btn-default' value='Submit'>
    </form>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    console.log(window.location)
    var socket_url = 'ws://' + window.location.host + window.location.pathname
    console.log(socket_url)
    var socket = new WebSocket(socket_url)
    socket.onmessage = function(event){
        console.log(event)
        var newComment = JSON.parse(event.data)
        console.log(newComment)
        $('#comments').append(
                '<p>' + newComment.comment_text + '</p>' +
                '<small>Пользователь: '+newComment.author + '</small><br>' +
                '<small>' + newComment.timestamp + '</small><hr>')

    }
    socket.onopen = function(event){
        console.log('socket opened', event)
        var form = $('#comments_form')
        form.submit(function(e){
            e.preventDefault()
            var comment_text = $('#id_comment_text').val()
            var post_slug = $('#user').attr('data-post')
            var author = $('#user').val()
            console.log(comment_text)
            data = {
                'comment_text': comment_text,
                'post_slug': post_slug,
                'author': author,
            }
            socket.send(JSON.stringify(data))
        })
    }
    socket.onclose = function(event){
        console.log('socket closed', event)
    }
</script>
{% endblock content %}
