.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 940px;
    margin: 0 auto
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}


.black_text{
    color:black;
    margin:10px;
    padding:20px;
}

.cms-toolbar-item a {
    color:black;
}

