<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Your Notes</h1>
	<div>
		<button class="btn btn-primary"><a href="{% url 'create' %}">Create Note</a></div>
	</div>
	<ul>
		{% for object in object_list %}
			<li>
				{{ object }} <small><a href="{{ object.get_delete_url }}">Delete</a></small><br><small><a href="{{ object.get_update_url }}">Update</a></small>			
			</li>
		{% endfor %}
	</ul>
		
</body>
</html>