{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Document</title>
    <style>       
        .checkbox{
          border: 1px dashed red;
        }
    </style>
</head>
<body>

  <div class="container" id="thisone">
    <h3>Select which books you'd like us to get started with.</h3>
    <h5>{{ message }}</h5>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</body>
