{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'pizza_app/tacit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'pizza_app/styles.css' %}" />
</head>


<body>
  {% include 'navbar.html' %}
  <p>
    request.user: {{request.user}}<br/>
    user: {{ user }}
    {% if user.is_anonymous %}
      Do you want to <a href="{% url 'pizza_auth_app:login' %}">login</a>?
    {% endif %}
  </p>
  <p>
    Permissions: {{ perms }}
  </p>

  <main>
    {% block content %}
    {% endblock %}
  </main>

<nav>
    {% block nav %}<hr />
    <span><a href="{% url 'index' %}">Back to main</a></span>
    {% endblock %}
</nav>

</body>

</html>
