/*!
 * @copyright: https://github.com/divio/django-cms
 */
@font-face {
  font-family: "django-cms-iconfont";
  src: url("../../fonts/3.7.0/django-cms-iconfont.eot");
  src: url("../../fonts/3.7.0/django-cms-iconfont.eot#iefix") format("eot"), url("../../fonts/3.7.0/django-cms-iconfont.woff2") format("woff2"), url("../../fonts/3.7.0/django-cms-iconfont.woff") format("woff"), url("../../fonts/3.7.0/django-cms-iconfont.ttf") format("truetype"), url("../../fonts/3.7.0/django-cms-iconfont.svg#django-cms-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cms-icon {
  display: inline-block;
  font: normal normal normal 16px/1 django-cms-iconfont;
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cms-icon-alias:before {
  content: "\E001";
}

.cms-icon-arrow-right:before {
  content: "\E002";
}

.cms-icon-arrow-wide:before {
  content: "\E003";
}

.cms-icon-arrow:before {
  content: "\E004";
}

.cms-icon-bin:before {
  content: "\E005";
}

.cms-icon-check-o:before {
  content: "\E006";
}

.cms-icon-check-square:before {
  content: "\E007";
}

.cms-icon-check:before {
  content: "\E008";
}

.cms-icon-close:before {
  content: "\E009";
}

.cms-icon-cogs:before {
  content: "\E00A";
}

.cms-icon-copy:before {
  content: "\E00B";
}

.cms-icon-eye:before {
  content: "\E00C";
}

.cms-icon-forbidden:before {
  content: "\E00D";
}

.cms-icon-handler:before {
  content: "\E00E";
}

.cms-icon-highlight:before {
  content: "\E00F";
}

.cms-icon-home:before {
  content: "\E010";
}

.cms-icon-info:before {
  content: "\E011";
}

.cms-icon-loader:before {
  content: "\E012";
}

.cms-icon-lock:before {
  content: "\E013";
}

.cms-icon-logo:before {
  content: "\E014";
}

.cms-icon-menu:before {
  content: "\E015";
}

.cms-icon-minimize:before {
  content: "\E016";
}

.cms-icon-minus-square-o:before {
  content: "\E017";
}

.cms-icon-minus-square:before {
  content: "\E018";
}

.cms-icon-minus:before {
  content: "\E019";
}

.cms-icon-paste:before {
  content: "\E01A";
}

.cms-icon-pencil:before {
  content: "\E01B";
}

.cms-icon-pin:before {
  content: "\E01C";
}

.cms-icon-plugins:before {
  content: "\E01D";
}

.cms-icon-plus-square-o:before {
  content: "\E01E";
}

.cms-icon-plus:before {
  content: "\E01F";
}

.cms-icon-puzzle:before {
  content: "\E020";
}

.cms-icon-scissors:before {
  content: "\E021";
}

.cms-icon-search:before {
  content: "\E022";
}

.cms-icon-sitemap:before {
  content: "\E023";
}

.cms-icon-squares:before {
  content: "\E024";
}

.cms-icon-window:before {
  content: "\E025";
}

.cms-welcome-bg {
  background: #f2f2f2;
}

.cms-welcome {
  color: #454545;
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
}

.cms-welcome a {
  color: #00bbff;
}

.cms-welcome a:hover, .cms-welcome a:active, .cms-welcome a:focus {
  text-decoration: underline;
}

.cms-welcome .cms-hidden {
  display: none;
}

.cms-welcome .cms-welcome-section,
.cms-welcome .cms-welcome-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
}

.cms-welcome .cms-welcome-header {
  text-align: center;
}

.cms-welcome .cms-welcome-heading {
  color: #999999;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  padding: 40px 0 15px;
  border-bottom: 1px solid #dddddd;
}

.cms-welcome .cms-welcome-heading .cms-icon {
  color: #693;
}

.cms-welcome .cms-welcome-logo, .cms-welcome .cms-welcome-logo:hover, .cms-welcome .cms-welcome-logo:focus {
  display: inline-block;
  background-image: url("../../fonts/src/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 35px;
  width: 200px;
  font-size: 35px;
  text-decoration: none;
  margin: 50px auto 30px;
}

.cms-welcome .cms-welcome-section {
  -webkit-box-shadow: 0 0 5px #dddddd;
          box-shadow: 0 0 5px #dddddd;
  padding: 20px;
  margin-bottom: 5px;
  background: #fff;
}

.cms-welcome .cms-welcome-section h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}

.cms-welcome .cms-welcome-section p {
  padding: 5px 0;
}

.cms-welcome .cms-welcome-links {
  padding: 10px 5px;
  margin: 0 0 15px;
  border-bottom: 1px solid #dddddd;
}

.cms-welcome .cms-welcome-links a {
  padding: 0 5px;
}

.cms-welcome .cms-welcome-notes {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  padding: 5px 10px;
}
/*# sourceMappingURL=cms.welcome.css.map */