/*!
 * @copyright: https://github.com/divio/django-cms
 */
.cms-reset div,
.cms-reset p,
.cms-reset a,
.cms-reset a:hover,
.cms-reset a:active,
.cms-reset a:focus,
.cms-reset ul,
.cms-reset li,
.cms-reset form,
.cms-reset fieldset,
.cms-reset label,
.cms-reset input,
.cms-reset textarea,
.cms-reset kbd,
.cms-reset h1,
.cms-reset h2,
.cms-reset h3 {
  color: #222;
  font: normal 14px/20px Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  list-style-image: none;
  background: none;
  -webkit-transition: none;
  transition: none;
}

.cms-reset table,
.cms-reset td,
.cms-reset tr,
.cms-reset th {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.cms {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
}

.cms-prevent-scrolling {
  overflow: hidden !important;
}

.cms-prevent-scrolling body {
  overflow: hidden !important;
}

@-webkit-keyframes cms-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes cms-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: "django-cms-iconfont";
  src: url("../../fonts/3.7.0/django-cms-iconfont.eot");
  src: url("../../fonts/3.7.0/django-cms-iconfont.eot#iefix") format("eot"), url("../../fonts/3.7.0/django-cms-iconfont.woff2") format("woff2"), url("../../fonts/3.7.0/django-cms-iconfont.woff") format("woff"), url("../../fonts/3.7.0/django-cms-iconfont.ttf") format("truetype"), url("../../fonts/3.7.0/django-cms-iconfont.svg#django-cms-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cms-icon, div.cms .cms-toolbar-item-logo a, div.cms .cms-tooltip:before,
div.cms .cms-tooltip-touch:before, div.cms .cms-structure .cms-dragitem-collapsable:before, div.cms .cms-submenu-btn:before, div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-rel]:before, div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon]:before {
  display: inline-block;
  font: normal normal normal 16px/1 django-cms-iconfont;
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cms-icon-alias:before {
  content: "\E001";
}

.cms-icon-arrow-right:before {
  content: "\E002";
}

.cms-icon-arrow-wide:before {
  content: "\E003";
}

.cms-icon-arrow:before {
  content: "\E004";
}

.cms-icon-bin:before {
  content: "\E005";
}

.cms-icon-check-o:before {
  content: "\E006";
}

.cms-icon-check-square:before {
  content: "\E007";
}

.cms-icon-check:before {
  content: "\E008";
}

.cms-icon-close:before {
  content: "\E009";
}

.cms-icon-cogs:before {
  content: "\E00A";
}

.cms-icon-copy:before {
  content: "\E00B";
}

.cms-icon-eye:before {
  content: "\E00C";
}

.cms-icon-forbidden:before {
  content: "\E00D";
}

.cms-icon-handler:before {
  content: "\E00E";
}

.cms-icon-highlight:before {
  content: "\E00F";
}

.cms-icon-home:before {
  content: "\E010";
}

.cms-icon-info:before {
  content: "\E011";
}

.cms-icon-loader:before {
  content: "\E012";
}

.cms-icon-lock:before {
  content: "\E013";
}

.cms-icon-logo:before, div.cms .cms-toolbar-item-logo a:before {
  content: "\E014";
}

.cms-icon-menu:before {
  content: "\E015";
}

.cms-icon-minimize:before {
  content: "\E016";
}

.cms-icon-minus-square-o:before {
  content: "\E017";
}

.cms-icon-minus-square:before {
  content: "\E018";
}

.cms-icon-minus:before {
  content: "\E019";
}

.cms-icon-paste:before {
  content: "\E01A";
}

.cms-icon-pencil:before {
  content: "\E01B";
}

.cms-icon-pin:before {
  content: "\E01C";
}

.cms-icon-plugins:before {
  content: "\E01D";
}

.cms-icon-plus-square-o:before {
  content: "\E01E";
}

.cms-icon-plus:before {
  content: "\E01F";
}

.cms-icon-puzzle:before {
  content: "\E020";
}

.cms-icon-scissors:before {
  content: "\E021";
}

.cms-icon-search:before {
  content: "\E022";
}

.cms-icon-sitemap:before {
  content: "\E023";
}

.cms-icon-squares:before {
  content: "\E024";
}

.cms-icon-window:before {
  content: "\E025";
}

.cms-hover-tooltip {
  position: relative;
  z-index: 1001;
}

.cms-btn-active .cms-hover-tooltip:before, div.cms .cms-dropdown-open .cms-dropdown-toggle .cms-hover-tooltip:before, .cms-btn-active .cms-hover-tooltip:after, div.cms .cms-dropdown-open .cms-dropdown-toggle .cms-hover-tooltip:after {
  opacity: 0 !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

/* Base styles for the entire tooltip */
.cms-hover-tooltip:before,
.cms-hover-tooltip:after {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.cms-hover-tooltip-delay:hover:before,
.cms-hover-tooltip-delay:hover:after,
.cms-hover-tooltip-delay:focus:before,
.cms-hover-tooltip-delay:focus:after {
  -webkit-transition: opacity 0.2s ease-in-out 1.5s, visibility 0.2s ease-in-out 1.5s, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 1.5s;
  transition: opacity 0.2s ease-in-out 1.5s, visibility 0.2s ease-in-out 1.5s, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 1.5s;
  transition: opacity 0.2s ease-in-out 1.5s, visibility 0.2s ease-in-out 1.5s, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 1.5s;
  transition: opacity 0.2s ease-in-out 1.5s, visibility 0.2s ease-in-out 1.5s, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 1.5s, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24) 1.5s;
}

/* Show the entire tooltip on hover and focus */
.cms-hover-tooltip:focus {
  outline: none;
}

.cms-hover-tooltip:hover:before,
.cms-hover-tooltip:hover:after,
.cms-hover-tooltip:focus:before,
.cms-hover-tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.cms-hover-tooltip:before {
  content: "";
  z-index: 2;
  border: 6px solid transparent;
  background: transparent;
}

/* Base styles for the tooltip's content area */
.cms-hover-tooltip:after {
  content: attr(data-cms-tooltip);
  z-index: 1;
  color: #fff !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  width: 160px;
  padding: 6px 8px;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: normal;
}

.cms-hover-tooltip:before,
.cms-hover-tooltip:after {
  bottom: 100%;
  left: 50%;
}

.cms-hover-tooltip:before {
  margin-bottom: -12px;
  margin-left: -6px;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.cms-hover-tooltip:after {
  margin-left: -80px;
}

.cms-hover-tooltip:hover:before,
.cms-hover-tooltip:hover:after,
.cms-hover-tooltip:focus:before,
.cms-hover-tooltip:focus:after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

/* Left */
.cms-hover-tooltip-left:before,
.cms-hover-tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.cms-hover-tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
}

.cms-hover-tooltip-left:hover:before,
.cms-hover-tooltip-left:hover:after,
.cms-hover-tooltip-left:focus:before,
.cms-hover-tooltip-left:focus:after {
  -webkit-transform: translateX(-12px) translateY(50%);
          transform: translateX(-12px) translateY(50%);
}

/* Bottom */
.cms-hover-tooltip-bottom:before,
.cms-hover-tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.cms-hover-tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.cms-hover-tooltip-bottom:hover:before,
.cms-hover-tooltip-bottom:hover:after,
.cms-hover-tooltip-bottom:focus:before,
.cms-hover-tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

/* Right */
.cms-hover-tooltip-right:before,
.cms-hover-tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.cms-hover-tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
}

.cms-hover-tooltip-right:hover:before,
.cms-hover-tooltip-right:hover:after,
.cms-hover-tooltip-right:focus:before,
.cms-hover-tooltip-right:focus:after {
  -webkit-transform: translateX(12px) translateY(50%);
          transform: translateX(12px) translateY(50%);
}

/* Move directional arrows down a bit for left/right tooltips */
.cms-hover-tooltip-left:before,
.cms-hover-tooltip-right:before {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

/* Vertically center tooltip content for left/right tooltips */
.cms-hover-tooltip-left:after,
.cms-hover-tooltip-right:after {
  margin-left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.cms-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  margin: -100px 0 0 -250px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.cms-dialog h1 {
  margin: 0 0 10px;
  padding: 0;
}

.cms-dialog form {
  margin: -20px;
  padding: 0 20px !important;
  border-top: 1px solid #dddddd;
}

.cms-dialog form label {
  display: inline;
}

.cms-dialog form input[type="checkbox"] {
  position: relative;
  top: auto;
  vertical-align: middle;
  line-height: 20px;
}

.cms-dialog form p {
  margin: 0 20px;
  margin-bottom: 0;
  padding: 10px 0;
}

.cms-dialog form p:after {
  display: none;
}

.cms-dialog form input[type="submit"] {
  margin-bottom: 0 !important;
}

.cms-dialog form .submit-row {
  margin: 0 -20px;
  padding: 20px 20px 0;
}

.cms-dialog form .submit-row input {
  margin-left: 0;
}

@media (max-width: 540px) {
  .cms-dialog {
    right: 0;
    left: 0;
    width: 80%;
    margin: -100px auto 0;
  }
}

.cms-dialog-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

cms-plugin.cms-plugin-text-node {
  display: inline;
}

.cms-placeholder {
  overflow: hidden;
  height: 0;
}

.cms-render-model-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.cms-render-model-icon,
.cms-render-model-icon img {
  position: relative;
  max-width: none;
  margin: 0 !important;
  padding: 0 !important;
  background: url("../../img/toolbar/render_model_icon.png") no-repeat;
}

.cms-render-model-add {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.cms-render-model-add,
.cms-render-model-add img {
  position: relative;
  max-width: none;
  margin: 0 !important;
  padding: 0 !important;
  background: url("../../img/toolbar/render_model_add.png") no-repeat;
}

.cms-loader {
  background: #fff url("../../img/loader.gif?uf5b664wnc") no-repeat center center !important;
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx) {
  .cms-loader {
    background-image: url("../../img/loader@2x.gif?uf5b664wnc") !important;
    background-size: 32px !important;
  }
}

div.cms .cms-tooltip,
div.cms .cms-tooltip-touch {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  color: #dddddd;
  white-space: nowrap;
  padding: 0 7px 0 22px;
  margin: 0;
  border-radius: 3px;
  background: #454545;
}

div.cms .cms-tooltip:before,
div.cms .cms-tooltip-touch:before {
  content: "\E01B";
}

div.cms .cms-tooltip:before,
div.cms .cms-tooltip-touch:before {
  font-size: 14px;
  top: 50%;
  left: 4px;
  margin-top: -7px;
  position: absolute;
}

div.cms .cms-tooltip span,
div.cms .cms-tooltip-touch span {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: -4px;
  float: right;
  color: #fff;
  font-weight: normal;
  padding: 0 7px;
  border-radius: 3px 0 3px 3px;
  background: #454545;
}

div.cms .cms-btn {
  background-image: none ;
  margin-bottom: 0;
  border-radius: 3px ;
  color: #555 ;
  background-color: #fff ;
  border: 1px solid #dddddd ;
  background-clip: padding-box;
  -webkit-appearance: none;
}

div.cms .cms-btn:focus, div.cms .cms-btn.focus {
  color: #555 ;
  background-color: #f2f2f2 ;
  border-color: #d0d0d0 ;
  text-decoration: none ;
}

div.cms .cms-btn:hover {
  color: #555 ;
  background-color: #f2f2f2 ;
  border-color: #d0d0d0 ;
  text-decoration: none ;
}

div.cms .cms-btn:active, div.cms .cms-btn.cms-btn-active, div.cms .cms-dropdown-open .cms-btn.cms-dropdown-toggle {
  color: #555 ;
  background-color: #e6e6e6 ;
  border-color: #c3c3c3 ;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
}

div.cms .cms-btn:active:hover, div.cms .cms-btn:active:focus, div.cms .cms-btn:active.focus, div.cms .cms-btn.cms-btn-active:hover, div.cms .cms-dropdown-open .cms-btn.cms-dropdown-toggle:hover, div.cms .cms-btn.cms-btn-active:focus, div.cms .cms-dropdown-open .cms-btn.cms-dropdown-toggle:focus, div.cms .cms-btn.cms-btn-active.focus, div.cms .cms-dropdown-open .cms-btn.focus.cms-dropdown-toggle {
  color: #555 ;
  background-color: #d4d4d4 ;
  border-color: #9d9d9d ;
}

div.cms .cms-btn:active, div.cms .cms-btn.cms-btn-active, div.cms .cms-dropdown-open .cms-btn.cms-dropdown-toggle {
  background-image: none ;
}

div.cms .cms-btn.cms-btn-disabled, div.cms .cms-btn.cms-btn-disabled:hover, div.cms .cms-btn.cms-btn-disabled:focus, div.cms .cms-btn.cms-btn-disabled.focus, div.cms .cms-btn.cms-btn-disabled:active, div.cms .cms-btn.cms-btn-disabled.cms-btn-active, div.cms .cms-dropdown-open .cms-btn.cms-btn-disabled.cms-dropdown-toggle, div.cms .cms-btn[disabled], div.cms .cms-btn[disabled]:hover, div.cms .cms-btn[disabled]:focus, div.cms .cms-btn[disabled].focus, div.cms .cms-btn[disabled]:active, div.cms .cms-btn[disabled].cms-btn-active, div.cms .cms-dropdown-open .cms-btn.cms-dropdown-toggle[disabled] {
  background-color: rgba(255, 255, 255, 0.4) ;
  border-color: rgba(221, 221, 221, 0.4) ;
  color: #d5d5d5 ;
  cursor: not-allowed;
  -webkit-box-shadow: none ;
          box-shadow: none ;
}

div.cms .cms-btn.cms-btn-disabled:before, div.cms .cms-btn.cms-btn-disabled:hover:before, div.cms .cms-btn.cms-btn-disabled:focus:before, div.cms .cms-btn.cms-btn-disabled.focus:before, div.cms .cms-btn.cms-btn-disabled:active:before, div.cms .cms-btn.cms-btn-disabled.cms-btn-active:before, div.cms .cms-dropdown-open .cms-btn.cms-btn-disabled.cms-dropdown-toggle:before, div.cms .cms-btn[disabled]:before, div.cms .cms-btn[disabled]:hover:before, div.cms .cms-btn[disabled]:focus:before, div.cms .cms-btn[disabled].focus:before, div.cms .cms-btn[disabled]:active:before, div.cms .cms-btn[disabled].cms-btn-active:before, div.cms .cms-dropdown-open .cms-btn.cms-dropdown-toggle[disabled]:before {
  color: rgba(85, 85, 85, 0.4) ;
}

div.cms .cms-btn-action {
  background-image: none ;
  margin-bottom: 0;
  border-radius: 3px ;
  color: #fff ;
  background-color: #00bbff ;
  border: 1px solid #00bbff ;
  background-clip: padding-box;
  -webkit-appearance: none;
}

div.cms .cms-btn-action:focus, div.cms .cms-btn-action.focus {
  color: #fff ;
  background-color: #00a8e6 ;
  border-color: #00a8e6 ;
  text-decoration: none ;
}

div.cms .cms-btn-action:hover {
  color: #fff ;
  background-color: #00a8e6 ;
  border-color: #00a8e6 ;
  text-decoration: none ;
}

div.cms .cms-btn-action:active, div.cms .cms-btn-action.cms-btn-active, div.cms .cms-dropdown-open .cms-btn-action.cms-dropdown-toggle {
  color: #fff ;
  background-color: #0096cc ;
  border-color: #0096cc ;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
}

div.cms .cms-btn-action:active:hover, div.cms .cms-btn-action:active:focus, div.cms .cms-btn-action:active.focus, div.cms .cms-btn-action.cms-btn-active:hover, div.cms .cms-dropdown-open .cms-btn-action.cms-dropdown-toggle:hover, div.cms .cms-btn-action.cms-btn-active:focus, div.cms .cms-dropdown-open .cms-btn-action.cms-dropdown-toggle:focus, div.cms .cms-btn-action.cms-btn-active.focus, div.cms .cms-dropdown-open .cms-btn-action.focus.cms-dropdown-toggle {
  color: #fff ;
  background-color: #007ba8 ;
  border-color: #005e80 ;
}

div.cms .cms-btn-action:active, div.cms .cms-btn-action.cms-btn-active, div.cms .cms-dropdown-open .cms-btn-action.cms-dropdown-toggle {
  background-image: none ;
}

div.cms .cms-btn-action.cms-btn-disabled, div.cms .cms-btn-action.cms-btn-disabled:hover, div.cms .cms-btn-action.cms-btn-disabled:focus, div.cms .cms-btn-action.cms-btn-disabled.focus, div.cms .cms-btn-action.cms-btn-disabled:active, div.cms .cms-btn-action.cms-btn-disabled.cms-btn-active, div.cms .cms-dropdown-open .cms-btn-action.cms-btn-disabled.cms-dropdown-toggle, div.cms .cms-btn-action[disabled], div.cms .cms-btn-action[disabled]:hover, div.cms .cms-btn-action[disabled]:focus, div.cms .cms-btn-action[disabled].focus, div.cms .cms-btn-action[disabled]:active, div.cms .cms-btn-action[disabled].cms-btn-active, div.cms .cms-dropdown-open .cms-btn-action.cms-dropdown-toggle[disabled] {
  background-color: rgba(0, 187, 255, 0.4) ;
  border-color: rgba(0, 187, 255, 0.4) ;
  color: white ;
  cursor: not-allowed;
  -webkit-box-shadow: none ;
          box-shadow: none ;
}

div.cms .cms-btn-action.cms-btn-disabled:before, div.cms .cms-btn-action.cms-btn-disabled:hover:before, div.cms .cms-btn-action.cms-btn-disabled:focus:before, div.cms .cms-btn-action.cms-btn-disabled.focus:before, div.cms .cms-btn-action.cms-btn-disabled:active:before, div.cms .cms-btn-action.cms-btn-disabled.cms-btn-active:before, div.cms .cms-dropdown-open .cms-btn-action.cms-btn-disabled.cms-dropdown-toggle:before, div.cms .cms-btn-action[disabled]:before, div.cms .cms-btn-action[disabled]:hover:before, div.cms .cms-btn-action[disabled]:focus:before, div.cms .cms-btn-action[disabled].focus:before, div.cms .cms-btn-action[disabled]:active:before, div.cms .cms-btn-action[disabled].cms-btn-active:before, div.cms .cms-dropdown-open .cms-btn-action.cms-dropdown-toggle[disabled]:before {
  color: rgba(255, 255, 255, 0.4) ;
}

div.cms .cms-btn-caution {
  background-image: none ;
  margin-bottom: 0;
  border-radius: 3px ;
  color: #fff ;
  background-color: #ff4000 ;
  border: 1px solid #ff4000 ;
  background-clip: padding-box;
  -webkit-appearance: none;
}

div.cms .cms-btn-caution:focus, div.cms .cms-btn-caution.focus {
  color: #fff ;
  background-color: #e63900 ;
  border-color: #e63900 ;
  text-decoration: none ;
}

div.cms .cms-btn-caution:hover {
  color: #fff ;
  background-color: #e63900 ;
  border-color: #e63900 ;
  text-decoration: none ;
}

div.cms .cms-btn-caution:active, div.cms .cms-btn-caution.cms-btn-active, div.cms .cms-dropdown-open .cms-btn-caution.cms-dropdown-toggle {
  color: #fff ;
  background-color: #cc3300 ;
  border-color: #cc3300 ;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
}

div.cms .cms-btn-caution:active:hover, div.cms .cms-btn-caution:active:focus, div.cms .cms-btn-caution:active.focus, div.cms .cms-btn-caution.cms-btn-active:hover, div.cms .cms-dropdown-open .cms-btn-caution.cms-dropdown-toggle:hover, div.cms .cms-btn-caution.cms-btn-active:focus, div.cms .cms-dropdown-open .cms-btn-caution.cms-dropdown-toggle:focus, div.cms .cms-btn-caution.cms-btn-active.focus, div.cms .cms-dropdown-open .cms-btn-caution.focus.cms-dropdown-toggle {
  color: #fff ;
  background-color: #a82a00 ;
  border-color: #802000 ;
}

div.cms .cms-btn-caution:active, div.cms .cms-btn-caution.cms-btn-active, div.cms .cms-dropdown-open .cms-btn-caution.cms-dropdown-toggle {
  background-image: none ;
}

div.cms .cms-btn-caution.cms-btn-disabled, div.cms .cms-btn-caution.cms-btn-disabled:hover, div.cms .cms-btn-caution.cms-btn-disabled:focus, div.cms .cms-btn-caution.cms-btn-disabled.focus, div.cms .cms-btn-caution.cms-btn-disabled:active, div.cms .cms-btn-caution.cms-btn-disabled.cms-btn-active, div.cms .cms-dropdown-open .cms-btn-caution.cms-btn-disabled.cms-dropdown-toggle, div.cms .cms-btn-caution[disabled], div.cms .cms-btn-caution[disabled]:hover, div.cms .cms-btn-caution[disabled]:focus, div.cms .cms-btn-caution[disabled].focus, div.cms .cms-btn-caution[disabled]:active, div.cms .cms-btn-caution[disabled].cms-btn-active, div.cms .cms-dropdown-open .cms-btn-caution.cms-dropdown-toggle[disabled] {
  background-color: rgba(255, 64, 0, 0.4) ;
  border-color: rgba(255, 64, 0, 0.4) ;
  color: white ;
  cursor: not-allowed;
  -webkit-box-shadow: none ;
          box-shadow: none ;
}

div.cms .cms-btn-caution.cms-btn-disabled:before, div.cms .cms-btn-caution.cms-btn-disabled:hover:before, div.cms .cms-btn-caution.cms-btn-disabled:focus:before, div.cms .cms-btn-caution.cms-btn-disabled.focus:before, div.cms .cms-btn-caution.cms-btn-disabled:active:before, div.cms .cms-btn-caution.cms-btn-disabled.cms-btn-active:before, div.cms .cms-dropdown-open .cms-btn-caution.cms-btn-disabled.cms-dropdown-toggle:before, div.cms .cms-btn-caution[disabled]:before, div.cms .cms-btn-caution[disabled]:hover:before, div.cms .cms-btn-caution[disabled]:focus:before, div.cms .cms-btn-caution[disabled].focus:before, div.cms .cms-btn-caution[disabled]:active:before, div.cms .cms-btn-caution[disabled].cms-btn-active:before, div.cms .cms-dropdown-open .cms-btn-caution.cms-dropdown-toggle[disabled]:before {
  color: rgba(255, 255, 255, 0.4) ;
}

div.cms .cms-btn-disabled img {
  opacity: 0.2 !important;
}

div.cms .cms-dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-top: 5px solid \9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

div.cms .cms-dropdown {
  position: relative;
}

div.cms .cms-dropdown > .cms-btn {
  border-radius: 3px !important;
}

div.cms .cms-dropdown-toggle:focus {
  outline: 0;
}

div.cms .cms-dropdown-toggle-thin {
  margin-left: -1px;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

div.cms .cms-dropdown-toggle-thin .cms-dropdown-caret {
  margin-left: 0px;
}

div.cms .cms-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999999;
  display: none !important;
  float: left;
  min-width: 180px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px !important;
  text-align: left;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
}

div.cms .cms-dropdown-menu > li > a {
  display: block !important;
  padding: 3px 20px !important;
  border: none !important;
  clear: both;
  font-weight: normal;
  line-height: 30px;
  float: none !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 30px;
  color: #555;
  white-space: nowrap;
}

div.cms .cms-dropdown-menu > li > a.cms-btn-action, div.cms .cms-dropdown-menu > li > a.cms-btn-caution {
  color: white;
}

div.cms .cms-dropdown-menu .cms-toolbar-item-navigation-break {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 1px;
  margin: 0 0 4px;
  padding: 0 0 4px;
  border-bottom: 1px solid #dddddd;
}

div.cms .cms-toolbar-right .cms-dropdown-menu {
  left: auto;
  right: -1px;
}

div.cms .cms-dropdown-menu > li > a {
  border-radius: none;
  background-color: none;
}

div.cms .cms-dropdown-menu > li > a:hover, div.cms .cms-dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #00bbff;
}

div.cms .cms-dropdown-menu > li > a.cms-btn-active, div.cms .cms-dropdown-open .cms-dropdown-menu > li > a.cms-dropdown-toggle, div.cms .cms-dropdown-menu > li > a.cms-btn-active:hover, div.cms .cms-dropdown-open .cms-dropdown-menu > li > a.cms-dropdown-toggle:hover, div.cms .cms-dropdown-menu > li > a.cms-btn-active:focus, div.cms .cms-dropdown-open .cms-dropdown-menu > li > a.cms-dropdown-toggle:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #00bbff;
}

div.cms .cms-dropdown-menu > li > a.cms-btn-disabled {
  opacity: 0.2 !important;
}

div.cms .cms-dropdown-menu > li > a.cms-btn-disabled, div.cms .cms-dropdown-menu > li > a.cms-btn-disabled:hover, div.cms .cms-dropdown-menu > li > a.cms-btn-disabled:focus {
  color: black;
}

div.cms .cms-dropdown-menu > li > a.cms-btn-disabled, div.cms .cms-dropdown-menu > li > a.cms-btn-disabled:hover, div.cms .cms-dropdown-menu > li > a.cms-btn-disabled:focus {
  text-decoration: none !important;
  background-color: transparent !important;
  background-image: none !important;
  cursor: not-allowed !important;
}

div.cms .cms-dropdown-open > .cms-dropdown-menu {
  display: block !important;
}

div.cms .cms-dropdown-open .cms-dropdown-toggle {
  outline: 0;
}

div.cms .cms-dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999990;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-dropdown-toggle {
  text-align: left !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-dropdown-toggle .cms-dropdown-caret {
  position: absolute;
  right: 15px;
  top: 18px;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-dropdown-menu {
  display: none !important;
  margin-left: 0px !important;
  width: 100% !important;
  border: 1px solid #dddddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -1px;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-dropdown-menu li > a.cms-btn {
  text-align: left;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-dropdown-open .cms-dropdown-menu {
  display: block !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group {
  display: table;
  width: 100%;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group > .cms-btn {
  display: table-cell;
  text-align: left !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group > .cms-btn.cms-btn-action, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group > .cms-btn.cms-btn-caution {
  color: white;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group > .cms-btn:first-child {
  border-right: none !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group > .cms-btn:last-child {
  width: 40px;
  text-align: center !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-btn-group > .cms-btn .cms-dropdown-caret {
  position: static !important;
}

div.cms .cms-btn-group > .cms-btn.cms-btn-action:last-child {
  border-left: 1px solid #0096cc;
}

div.cms .cms-btn-group > .cms-btn.cms-btn-caution:last-child {
  border-left: 1px solid #cc0000;
}

div.cms.cms.cms-toolbar-debug .cms-btn-group > .cms-btn.cms-btn-action:last-child {
  border-left: 1px solid #caac04 !important;
}

div.cms .cms-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  min-height: 46px;
  margin-top: 0;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

div.cms .cms-toolbar:after {
  position: absolute;
  content: '';
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  margin-top: -1px;
  z-index: 1;
  clip: rect(0, auto, 10px, 0);
  background: #dddddd !important;
}

.cms-structure-mode-structure div.cms .cms-toolbar:after {
  right: 45px;
}

div.cms .cms-toolbar .cms-toolbar-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

div.cms .cms-toolbar .cms-toolbar-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding-right: 46px;
}

div.cms .cms-toolbar .cms-toolbar-left .cms-toolbar-item {
  margin-right: 15px;
}

div.cms .cms-toolbar .cms-toolbar-left .cms-toolbar-item:last-child {
  margin-right: 0;
}

div.cms .cms-toolbar .cms-toolbar-right .cms-toolbar-item {
  margin-right: 15px;
}

div.cms .cms-toolbar .cms-toolbar-item {
  float: left;
}

.cms-toolbar-non-sticky {
  position: static !important;
}

.cms-toolbar-non-sticky .cms .cms-toolbar {
  position: absolute;
}

div.cms.cms-toolbar-debug .cms-debug-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999999;
  height: 3px;
  background-color: #fad507;
  z-index: 30;
}

.cms-structure-mode-structure div.cms.cms-toolbar-debug .cms-debug-bar {
  right: 46px;
}

div.cms.cms-toolbar-debug .cms-toolbar .cms-btn-action {
  background-color: #fad507;
  border-color: #fad507;
  color: #000;
}

div.cms.cms-toolbar-debug .cms-toolbar .cms-btn-action:active, div.cms.cms-toolbar-debug .cms-toolbar .cms-btn-action:focus {
  background-color: #fad507;
  border-color: #fad507;
  color: black;
}

div.cms .cms-toolbar-item-navigation li {
  position: relative;
  float: left;
}

div.cms .cms-toolbar-item-navigation li a {
  float: left;
  color: #000;
  padding: 0 10px;
  line-height: 46px;
  height: 46px;
  cursor: default;
}

div.cms .cms-toolbar-item-navigation li ul {
  display: none;
}

div.cms .cms-toolbar-item-navigation > li:first-child > a span {
  font-weight: 600;
}

div.cms .cms-toolbar-item-navigation .cms-icon, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-logo a, div.cms .cms-toolbar-item-logo .cms-toolbar-item-navigation a {
  display: none;
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -5px;
  font-size: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover ul {
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
  min-width: 180px;
  padding: 4px 0 3px;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover ul li {
  float: none;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover ul li a {
  display: block;
  float: none;
  white-space: nowrap;
  line-height: 30px;
  height: 30px;
  padding: 0 25px 0 15px;
  cursor: pointer;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover ul ul {
  border-top: 1px solid #f2f2f2;
  border-radius: 0 4px 4px 0;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-children ul {
  display: none;
  top: -5px;
  left: 100%;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-children > a {
  cursor: default;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-children > a span {
  display: block;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-children > a span .cms-icon, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-children > a span .cms-toolbar-item-logo a, div.cms .cms-toolbar-item-logo .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-children > a span a {
  display: block;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover > a {
  color: #fff !important;
  background: #00bbff;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-toolbar-item-navigation-active > a {
  font-weight: 800;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-break {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 1px;
  margin: 0 0 4px;
  padding: 0 0 4px;
  border-bottom: 1px solid #dddddd;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-disabled a {
  cursor: default !important;
  opacity: 0.2;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-disabled a, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-disabled a:hover, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-disabled a:active, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-disabled a:focus {
  color: #000 !important;
  background: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-disabled ul {
  display: none !important;
}

div.cms .cms-toolbar-more {
  display: none;
}

div.cms .cms-toolbar-more .cms-toolbar-item-navigation-children {
  padding: 0;
}

div.cms .cms-toolbar-more .cms-toolbar-item {
  float: none;
  margin: 0 10px !important;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 8px;
}

div.cms .cms-toolbar-more .cms-toolbar-item-cms-mode-switcher a {
  float: left !important;
  width: 50%;
}

div.cms .cms-toolbar-more .cms-toolbar-item-buttons .cms-btn, div.cms .cms-toolbar-more .cms-modal-item-buttons .cms-btn {
  text-align: center;
}

div.cms .cms-toolbar-more .cms-btn {
  color: #555;
}

div.cms .cms-toolbar-more .cms-btn-action {
  color: #fff;
}

div.cms .cms-toolbar-more .cms-more-buttons + .cms-toolbar-item-navigation-children {
  padding-top: 8px;
  border-top: 1px solid #dddddd;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full {
  position: fixed;
  width: 100%;
  width: 100vw;
  top: 46px;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-icon, div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-toolbar-item-logo a, div.cms .cms-toolbar-item-logo .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full a {
  display: none !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full > li {
  border-bottom: 1px solid #dddddd;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full .cms-more-buttons {
  border-bottom: none;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full li a:not(.cms-btn) {
  color: #000 !important;
  background: transparent !important;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full li a {
  position: relative;
  line-height: 42px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.cms .cms-toolbar-item-navigation .cms-toolbar-item-navigation-hover .cms-more-dropdown-full ul {
  display: block !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 0;
  margin-left: 20px;
}

div.cms .cms-toolbar-item-cms-mode-switcher {
  position: absolute;
  right: 0;
  top: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  margin-right: 0 !important;
}

div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn {
  position: absolute;
  right: 0;
  top: 0;
  border-top: 0 !important;
  border-right: 0 !important;
  width: 46px;
  height: 45px;
  display: block;
  border-radius: 0;
  border-bottom: 0;
  clip: rect(0, 46px, 46px, 0px);
}

div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn .cms-icon, div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn .cms-toolbar-item-logo a, div.cms .cms-toolbar-item-logo .cms-toolbar-item-cms-mode-switcher .cms-btn a {
  position: absolute;
  left: 23px;
  top: 23px;
  margin-left: -10px;
  margin-top: -9px;
  font-size: 20px !important;
}

div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-btn-active, div.cms .cms-toolbar-item-cms-mode-switcher .cms-dropdown-open .cms-btn.cms-dropdown-toggle, div.cms .cms-dropdown-open .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-dropdown-toggle {
  height: 46px;
}

div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-btn-active, div.cms .cms-toolbar-item-cms-mode-switcher .cms-dropdown-open .cms-btn.cms-dropdown-toggle, div.cms .cms-dropdown-open .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-dropdown-toggle, div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-btn-active:active, div.cms .cms-toolbar-item-cms-mode-switcher .cms-dropdown-open .cms-btn.cms-dropdown-toggle:active, div.cms .cms-dropdown-open .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-dropdown-toggle:active, div.cms .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-btn-active:focus, div.cms .cms-toolbar-item-cms-mode-switcher .cms-dropdown-open .cms-btn.cms-dropdown-toggle:focus, div.cms .cms-dropdown-open .cms-toolbar-item-cms-mode-switcher .cms-btn.cms-dropdown-toggle:focus {
  border-color: #dddddd !important;
  background-color: #f0f0f0 !important;
}

div.cms .cms-messages {
  display: none;
  position: fixed;
  top: 46px;
  z-index: 999999;
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
  width: 300px;
  min-height: 16px;
  margin: 0;
  padding: 6px 10px 8px;
  border-radius: 0 0 3px 3px;
  background: rgba(0, 0, 0, 0.74);
  -webkit-transition: top 200ms;
  transition: top 200ms;
}

div.cms .cms-messages * {
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
}

div.cms .cms-messages a {
  color: #00bbff;
}

div.cms .cms-messages a:hover {
  text-decoration: underline;
}

div.cms .cms-messages strong {
  color: #33c9ff;
  font-weight: 200;
}

div.cms .cms-messages ul {
  display: inline;
  color: #fff;
}

div.cms .cms-messages ul li {
  display: inline;
  color: #fff;
  font-weight: 200;
}

div.cms .cms-messages .cms-messages-close {
  cursor: pointer;
  display: none;
  float: right;
  position: relative;
  width: 20px;
  height: 16px;
  text-align: right;
}

div.cms .cms-messages .cms-messages-close span {
  font-size: 10px;
}

div.cms .cms-messages .cms-messages-close:hover span {
  color: #00bbff;
}

div.cms .cms-messages-error strong {
  color: #f00;
}

div.cms .cms-toolbar-item-logo {
  margin-right: 0 !important;
}

div.cms .cms-toolbar-item-logo a {
  font-size: 21px;
  line-height: 46px;
  height: 46px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  padding-left: 15px;
  padding-right: 15px;
}

div.cms .cms-toolbar-item-logo a span {
  display: none;
}

div.cms .cms-toolbar-item-logo a:hover, div.cms .cms-toolbar-item-logo a:active, div.cms .cms-toolbar-item-logo a:focus {
  color: #00bbff;
}

div.cms .cms-form-login label {
  display: inline-block;
  vertical-align: middle;
  line-height: 46px;
  padding-left: 15px;
  margin: 0;
  cursor: pointer;
}

div.cms .cms-form-login label span {
  display: inline-block;
}

div.cms .cms-form-login input[type="text"],
div.cms .cms-form-login input[type="password"] {
  display: inline-block;
  color: #666666;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  width: 100px;
  margin: 0;
  padding: 0 5px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff;
          box-shadow: 0 1px 0 #fff;
  text-transform: none;
}

div.cms .cms-form-login input[type="text"]:focus,
div.cms .cms-form-login input[type="password"]:focus {
  -webkit-transition: outline 0.2s;
  transition: outline 0.2s;
  border-color: #00bbff;
  -webkit-box-shadow: inset 0 0 2px #dddddd;
          box-shadow: inset 0 0 2px #dddddd;
}

div.cms .cms-form-login input[type="submit"] {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
}

div.cms .cms-form-login input[type="submit"]:-moz-focus-inner {
  border: 0;
}

div.cms .cms-form-login .cms-error {
  color: #f00;
}

div.cms .cms-form-login .cms-error input {
  border: 1px solid #f00;
}

@media (max-width: 488px) {
  div.cms .cms-form-login {
    margin-left: -110px;
  }
}

@media (max-width: 768px) {
  div.cms .cms-form-login {
    position: relative;
    font-size: 1px;
    line-height: 0;
    background: #fff;
  }
  div.cms .cms-form-login label {
    position: relative;
    padding: 0;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  div.cms .cms-form-login label span {
    position: absolute;
    left: 5px;
    top: 0;
    z-index: 1;
    color: #999999;
  }
  div.cms .cms-form-login input[type="text"] {
    border-radius: 3px 0 0 3px;
  }
  div.cms .cms-form-login input[type="password"] {
    border-radius: 0;
  }
  div.cms .cms-form-login input[type="text"],
  div.cms .cms-form-login input[type="password"] {
    position: relative;
    z-index: 10;
    width: 95px;
  }
  div.cms .cms-form-login input[type="text"]:focus, div.cms .cms-form-login input[type="text"]:valid,
  div.cms .cms-form-login input[type="password"]:focus,
  div.cms .cms-form-login input[type="password"]:valid {
    background: #fff;
  }
  div.cms .cms-form-login input[type="submit"] {
    border-radius: 0 3px 3px 0;
    padding: 0 7.5px;
  }
}

div.cms .cms-toolbar-item-buttons, div.cms .cms-modal-item-buttons {
  margin: 8px 0 8px;
}

div.cms .cms-toolbar-item-buttons a, div.cms .cms-modal-item-buttons a {
  float: left;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  padding: 0 12px;
}

div.cms .cms-toolbar-item-buttons a:first-child, div.cms .cms-modal-item-buttons a:first-child {
  border-radius: 3px 0 0 3px;
}

div.cms .cms-toolbar-item-buttons a:last-child, div.cms .cms-modal-item-buttons a:last-child {
  margin-left: -1px;
  border-radius: 0 3px 3px 0;
}

div.cms .cms-toolbar-item-buttons a:only-child, div.cms .cms-modal-item-buttons a:only-child {
  border-radius: 3px;
}

div.cms .cms-screenblock {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  background: rgba(0, 0, 0, 0.9);
}

div.cms .cms-screenblock-inner {
  margin-top: 300px;
}

div.cms .cms-screenblock-inner h1 {
  font-size: 28px;
  line-height: 30px;
}

div.cms .cms-screenblock-inner h1,
div.cms .cms-screenblock-inner p {
  color: #999999;
  text-align: center;
}

div.cms .cms-screenblock-inner a {
  color: #fff;
}

div.cms .cms-screenblock-inner a:hover {
  text-decoration: underline;
}

.cms-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

div.cms .cms-loading-bar {
  background: #00bbff;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

div.cms .cms-loading-peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #29d, 0 0 5px #00bbff;
          box-shadow: 0 0 10px #29d, 0 0 5px #00bbff;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

div.cms .cms-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  z-index: 9999999;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-transform: translate3d(0, -10%, 0);
          transform: translate3d(0, -10%, 0);
  -webkit-transition: opacity 150ms, -webkit-transform 150ms;
  transition: opacity 150ms, -webkit-transform 150ms;
  transition: transform 150ms, opacity 150ms;
  transition: transform 150ms, opacity 150ms, -webkit-transform 150ms;
}

.cms-structure-mode-structure div.cms .cms-modal {
  -webkit-transform: translate3d(10%, 0, 0);
          transform: translate3d(10%, 0, 0);
}

.cms-modal-maximized div.cms .cms-modal {
  right: 0;
  bottom: 0;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
}

.cms-modal-maximized div.cms .cms-modal .cms-modal-title {
  cursor: default;
}

.cms-modal-minimized div.cms .cms-modal {
  width: auto !important;
  height: auto !important;
  top: 1px !important;
  margin: 0 !important;
}

.cms-modal-minimized div.cms .cms-modal .cms-modal-body,
.cms-modal-minimized div.cms .cms-modal .cms-modal-breadcrumb,
.cms-modal-minimized div.cms .cms-modal .cms-modal-foot {
  display: none !important;
}

.cms-modal-minimized div.cms .cms-modal .cms-modal-title {
  cursor: default;
  padding-right: 90px;
}

.cms-modal-minimized div.cms .cms-modal .cms-modal-title-suffix {
  display: none;
}

.cms-modal-minimized div.cms .cms-modal .cms-modal-minimize {
  right: 33px;
}

div.cms .cms-modal-morphing {
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

div.cms .cms-modal-open {
  opacity: 1;
}

.cms-structure-mode-structure div.cms .cms-modal-open, div.cms .cms-modal-open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

div.cms .cms-modal-body {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 46px;
  right: 0;
  bottom: 46px;
  border-top: 1px solid #dddddd;
  background: #fff;
  border-bottom: 1px solid #dddddd;
}

div.cms .cms-modal-foot {
  position: absolute;
  overflow: hidden;
  clear: both;
  height: 46px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
}

div.cms .cms-modal-shim {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}

div.cms .cms-modal-frame {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

div.cms .cms-modal-frame iframe {
  display: block;
  width: 100%;
  height: 100%;
}

div.cms .cms-modal-head {
  position: relative;
}

div.cms .cms-modal-title {
  display: block;
  color: #454545;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  min-height: 46px;
  padding: 0 20px;
  cursor: move;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 100px;
}

div.cms .cms-modal-title .cms-modal-title-suffix {
  font-weight: normal;
  padding-left: 10px;
}

div.cms .cms-modal-minimize,
div.cms .cms-modal-close,
div.cms .cms-modal-maximize {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 10px;
  color: #999999;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

div.cms .cms-modal-minimize:before,
div.cms .cms-modal-close:before,
div.cms .cms-modal-maximize:before {
  position: relative;
  top: 7px;
}

div.cms .cms-modal-minimize:hover,
div.cms .cms-modal-close:hover,
div.cms .cms-modal-maximize:hover {
  color: #00bbff;
}

div.cms .cms-modal-minimize {
  right: 70px;
}

.cms-modal-minimized div.cms .cms-modal-minimize {
  color: #00bbff;
}

.cms-modal-minimized div.cms .cms-modal-minimize:before {
  content: "\E01F";
}

.cms-modal-maximized div.cms .cms-modal-minimize {
  display: none !important;
}

div.cms .cms-modal-maximize {
  right: 40px;
}

.cms-modal-minimized div.cms .cms-modal-maximize {
  display: none !important;
}

.cms-modal-maximized div.cms .cms-modal-maximize {
  color: #00bbff;
}

.cms-modal-maximized div.cms .cms-modal-maximize:before {
  content: "\E016";
}

div.cms .cms-modal-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 102;
  font-size: 10px;
  color: #999999;
  width: 25px;
  height: 25px;
  cursor: nw-resize;
}

div.cms .cms-modal-resize span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

div.cms .cms-modal-breadcrumb {
  display: none !important;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #dddddd;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 80px;
  width: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

div.cms .cms-modal-breadcrumb a {
  color: #00bbff;
}

div.cms .cms-modal-breadcrumb a:hover {
  color: #007099;
}

div.cms .cms-modal-breadcrumb a:after {
  content: "/";
  color: #dddddd;
  text-decoration: none;
  padding: 0 10px;
}

div.cms .cms-modal-breadcrumb a.active {
  color: #999999;
}

div.cms .cms-modal-breadcrumb a:last-child:after {
  content: "";
}

div.cms .cms-modal-buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  padding: 0 25px 0 10px;
}

div.cms .cms-modal-item-buttons {
  float: right;
  margin-left: 8px;
}

div.cms .cms-modal-item-buttons-left {
  float: left;
}

div.cms .cms-modal-markup .cms-modal-foot {
  height: 23px;
}

div.cms .cms-modal-markup .cms-modal-body {
  bottom: 23px;
}

div.cms .cms-modal-has-breadcrumb .cms-modal-body {
  top: 86px !important;
}

div.cms .cms-modal-has-breadcrumb .cms-modal-breadcrumb {
  display: block !important;
}

.cms-modal-maximized {
  overflow: hidden !important;
}

.cms-modal-maximized .cms.cms-toolbar-debug .cms-modal {
  top: 3px !important;
}

.cms-modal-minimized .cms.cms-toolbar-debug .cms-modal {
  top: 4px !important;
}

div.cms .cms-sideframe {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  z-index: 999999;
}

@media (max-width: 768px) {
  div.cms .cms-sideframe {
    width: 100% !important;
  }
}

div.cms .cms-sideframe-frame {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
}

div.cms .cms-sideframe-frame iframe {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
}

div.cms .cms-sideframe-shim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: transparent;
}

div.cms .cms-sideframe-controls {
  position: absolute;
  top: 51px;
  right: 20px;
  z-index: 40;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dddddd;
}

div.cms.cms-toolbar-debug .cms-sideframe-controls {
  top: 54px;
}

div.cms .cms-sideframe-close,
div.cms .cms-sideframe-history {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  color: #454545;
  text-align: center;
  width: 32px;
  height: 32px;
}

div.cms .cms-sideframe-close span,
div.cms .cms-sideframe-history span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

div.cms .cms-sideframe-close span:hover,
div.cms .cms-sideframe-history span:hover {
  color: #333333;
}

div.cms .cms-sideframe-history {
  width: 65px;
  border-right: 1px solid #dddddd;
}

div.cms .cms-sideframe-history .cms-icon, div.cms .cms-sideframe-history .cms-toolbar-item-logo a, div.cms .cms-toolbar-item-logo .cms-sideframe-history a {
  float: left;
  position: relative;
  left: 0;
  top: 0;
  padding: 8px 4px 8px 12px;
  margin: 0;
}

div.cms .cms-sideframe-history .cms-icon-arrow-forward {
  padding: 8px 12px 8px 4px;
}

div.cms .cms-sideframe-history .cms-icon-arrow-forward:before {
  content: "\E002";
}

div.cms .cms-sideframe-history .cms-icon-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

div.cms .cms-sideframe-dimmer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

div.cms .cms-droppable {
  position: relative;
  z-index: 1000;
  line-height: 0;
  height: 0;
  min-height: 0;
  -webkit-box-shadow: 0 0 0 2px #00bbff;
          box-shadow: 0 0 0 2px #00bbff;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.cms-draggable + div.cms .cms-droppable {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

div.cms .cms-droppable:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -4px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #00bbff;
}

div.cms .cms-draggables > .cms-droppable:first-child {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

div.cms .cms-draggables > .cms-droppable:only-child {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

div.cms .cms-structure {
  display: none;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

div.cms .cms-structure .cms-structure-content {
  position: relative;
  overflow-y: scroll;
  top: 0;
  left: 0;
  padding: 46px 5%;
  z-index: 100;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 480px) {
  div.cms .cms-structure .cms-structure-content {
    padding-right: 0;
    padding-left: 0;
  }
}

div.cms .cms-structure .cms-dragarea {
  position: static;
  max-width: 980px;
  margin: 20px auto;
  padding: 10px 28px;
}

div.cms .cms-structure .cms-dragbar .cms-submenu-item-highlight {
  display: none;
}

div.cms .cms-structure .cms-dragarea-static > .cms-draggables {
  display: none;
}

div.cms .cms-structure .cms-dragarea-static > .cms-dragbar > .cms-btn {
  display: none;
}

div.cms .cms-structure .cms-dragarea-static .cms-dragarea-static-icon {
  position: relative;
  top: 2px;
}

div.cms .cms-structure .cms-dragarea-static-expanded > .cms-draggables {
  display: block;
}

div.cms .cms-structure .cms-dragarea-static-expanded > .cms-dragbar > .cms-btn {
  display: block;
}

div.cms .cms-structure .cms-dragbar {
  position: relative;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  padding-left: 7px;
  border-radius: 3px;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  margin-right: 97px;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-toggler {
  position: absolute;
  right: 0;
  background-image: linear-gradient(to right, rgba(240, 240, 240, 0) 0, #f0f0f0 40px);
  padding-left: 50px;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 30px;
  cursor: pointer;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-toggler a {
  color: #555 !important;
  font-size: 12px !important;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-toggler a:hover {
  color: #3c3c3c !important;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-collapse-all {
  display: none;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-expand-all {
  display: inline;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-title-expanded .cms-dragbar-collapse-all {
  display: inline;
}

div.cms .cms-structure .cms-dragbar .cms-dragbar-title-expanded .cms-dragbar-expand-all {
  display: none;
}

div.cms .cms-structure .cms-dragbar-empty {
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

div.cms .cms-structure .cms-dragarea-empty .cms-dragbar-empty-wrapper {
  display: block !important;
}

div.cms .cms-structure .cms-dragarea-empty .cms-dragbar-toggler {
  display: none;
}

div.cms .cms-structure .cms-draggables {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.cms .cms-structure .cms-draggables.cms-hidden {
  display: none !important;
}

div.cms .cms-structure .cms-draggables .cms-draggables {
  padding-left: 30px;
}

div.cms .cms-structure .cms-dragarea-empty .cms-draggables-root {
  position: relative;
  min-height: 50px;
  border: 2px solid #dddddd;
  border-radius: 3px;
}

div.cms .cms-structure .cms-draggable {
  display: block !important;
  top: 0;
  left: 0;
  white-space: nowrap;
  margin-left: 0 !important;
  padding: 0;
  border-radius: 3px;
  list-style-type: none;
  -ms-touch-action: none;
  touch-action: none;
}

div.cms .cms-structure .cms-draggable .cms-draggable {
  border-color: #dddddd;
}

div.cms .cms-structure .cms-draggable .cms-draggable:hover {
  border-color: #999999;
}

div.cms .cms-structure .cms-draggable .cms-submenu-dropdown-top {
  top: 46px;
}

div.cms .cms-structure .cms-draggable .cms-submenu-dropdown-bottom {
  bottom: 46px;
}

div.cms .cms-structure .cms-draggable .cms-dragitem {
  line-height: 26px;
  border: 2px solid #f0f0f0;
}

div.cms .cms-structure .cms-draggable .cms-dragitem-text {
  display: block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 128px;
  padding: 10px 28px;
}

div.cms .cms-structure .cms-draggable .cms-dragitem-collapsable .cms-dragitem-text {
  padding-left: 50px;
}

div.cms .cms-structure .cms-collapsable-container.cms-hidden > .cms-draggable {
  display: none !important;
}

div.cms .cms-structure .cms-draggable-success {
  position: relative;
}

div.cms .cms-structure .cms-draggables-empty {
  display: none;
}

div.cms .cms-structure .cms-dragarea-empty .cms-droppable {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  color: #666666;
  line-height: 26px;
  height: auto;
  margin: 0;
  border: 2px solid #00bbff;
  border-radius: 3px;
  background-color: #e6f8ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

div.cms .cms-structure .cms-dragarea-empty .cms-droppable:before {
  display: none;
}

div.cms .cms-structure .cms-dragarea-empty .cms-droppable.cms-draggable-disallowed {
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.1);
}

div.cms .cms-structure .cms-dragarea-empty .cms-draggables-empty {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: #666666;
  line-height: 44px;
  padding-left: 20px;
}

div.cms .cms-structure .cms-dragarea-empty > .cms-draggables-root > .cms-add-plugin-placeholder {
  position: absolute;
  right: 0;
  left: 0;
  height: 50px;
  margin: -2px;
}

div.cms .cms-structure .cms-draggable {
  color: #000;
}

div.cms .cms-structure .cms-draggable-is-dragging {
  z-index: 1;
  width: 200px !important;
  height: 46px !important;
  border-radius: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

div.cms .cms-structure .cms-draggable-is-dragging .cms-dragitem {
  color: #fff !important;
  border: none;
  border-radius: 0;
  background-color: #00bbff !important;
  background-image: none !important;
}

div.cms .cms-structure .cms-draggable-is-dragging .cms-dragitem:before {
  display: none;
  color: white;
}

div.cms .cms-structure .cms-draggable-is-dragging .cms-dragitem .cms-draggables {
  display: none;
}

div.cms .cms-structure .cms-draggable-is-dragging .cms-dragitem .cms-dragitem-text {
  padding-left: 28px;
}

div.cms .cms-structure .cms-draggable-is-dragging .cms-dragitem-text {
  margin-right: 0;
}

div.cms .cms-structure .cms-draggable-is-dragging.cms-draggable-from-clipboard .cms-dragitem-text {
  margin-right: 20px;
}

div.cms .cms-structure .cms-draggable-is-dragging.cms-draggable-disabled > .cms-draggable {
  display: none !important;
}

div.cms .cms-structure .cms-draggable-stack {
  overflow: hidden;
  height: 46px !important;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 4px 4px 0 0 #00bbff;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 4px 4px 0 0 #00bbff;
}

div.cms .cms-structure .cms-dragitem {
  position: relative;
  border-radius: 5px;
  cursor: move;
  background: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAABCCAAAAAB73glBAAAAAnRSTlMAAHaTzTgAAAAeSURBVHgBY7gCBgxAAGHRRoAKYOi5dNSloy4ddSkA3VChcDH0cxcAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 8px 33px;
}

div.cms .cms-structure .cms-dragitem:hover {
  -webkit-box-shadow: inset 0 0 0 1px #999999;
          box-shadow: inset 0 0 0 1px #999999;
}

div.cms .cms-structure .cms-dragitem-collapsable:before {
  content: "\E003";
}

div.cms .cms-structure .cms-dragitem-collapsable:before {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #555;
  font-size: 12px;
  margin-top: -6px;
  margin-left: 18px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

div.cms .cms-structure .cms-dragitem-collapsable .cms-dragitem-text {
  cursor: pointer;
}

div.cms .cms-structure .cms-dragitem-expanded:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

div.cms .cms-structure .cms-draggable-selected .cms-dragitem,
div.cms .cms-structure .cms-draggable-selected .cms-dragitem strong {
  color: #007bff;
}

div.cms .cms-structure .cms-draggable-selected .cms-draggable .cms-dragitem,
div.cms .cms-structure .cms-draggable-selected .cms-draggable .cms-dragitem strong {
  color: #000;
}

div.cms .cms-structure .cms-draggable-allowed,
div.cms .cms-structure .cms-draggable-hover-allowed,
div.cms .cms-structure .cms-draggable-placeholder {
  color: #ccf1ff;
  border-color: #ccf1ff;
}

div.cms .cms-structure .cms-draggable-hover-allowed,
div.cms .cms-structure .cms-draggable-placeholder {
  color: #fff;
  background: rgba(0, 187, 255, 0.2);
}

div.cms .cms-structure .cms-draggable-disallowed,
div.cms .cms-structure .cms-draggable-hover-disallowed {
  color: red;
  background: rgba(255, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 2px red;
          box-shadow: 0 0 0 2px red;
}

div.cms .cms-structure .cms-draggable-disallowed:before,
div.cms .cms-structure .cms-draggable-hover-disallowed:before {
  display: none;
}

div.cms .cms-structure .cms-draggable-disabled .cms-submenu {
  display: none;
}

div.cms .cms-structure .cms-draggable-disabled > .cms-dragitem-collapsable .cms-submenu,
div.cms .cms-structure .cms-draggable-disabled > .cms-dragitem .cms-submenu {
  display: block;
}

div.cms .cms-structure .cms-draggable-disabled .cms-draggable {
  margin-left: 30px !important;
  margin-left: 15px;
}

div.cms .cms-structure .cms-draggable-disabled .cms-draggable .cms-dragitem {
  background-image: none;
}

div.cms .cms-structure .cms-draggable-disabled .cms-draggable .cms-dragitem:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.cms .cms-structure .cms-draggable-disabled .cms-draggables,
div.cms .cms-structure .cms-draggable-disabled .cms-droppable {
  display: none !important;
}

div.cms .cms-structure .cms-plugin-disabled {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 36px;
  height: 36px;
  margin-top: -18px;
}

div.cms .cms-structure .cms-plugin-disabled .cms-icon, div.cms .cms-structure .cms-plugin-disabled .cms-toolbar-item-logo a, div.cms .cms-toolbar-item-logo .cms-structure .cms-plugin-disabled a {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #555;
  font-size: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

div.cms .cms-structure .cms-is-dragging {
  display: block !important;
  opacity: 0.3;
}

div.cms .cms-structure.cms-structure-condensed {
  width: 416px;
  right: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

div.cms .cms-structure.cms-structure-condensed .cms-structure-content {
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}

div.cms .cms-structure.cms-structure-condensed .cms-draggables .cms-draggables {
  padding-left: 15px;
}

div.cms .cms-structure.cms-structure-condensed .cms-draggable-disabled .cms-draggable {
  margin-left: 15px !important;
}

div.cms .cms-structure.cms-structure-condensed .cms-dragitem {
  line-height: 24px;
  background-size: 8px 28px;
}

div.cms .cms-structure.cms-structure-condensed .cms-dragitem-text {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 110px;
  padding-right: 5px;
}

div.cms .cms-structure.cms-structure-condensed .cms-dragarea-empty .cms-draggables-root {
  min-height: 43px;
}

div.cms .cms-structure.cms-structure-condensed .cms-draggables-empty {
  line-height: 40px;
}

div.cms .cms-structure.cms-structure-condensed .cms-dragarea-empty > .cms-draggables-root > .cms-add-plugin-placeholder {
  height: 44px;
}

div.cms .cms-structure.cms-structure-condensed .cms-add-plugin-placeholder {
  line-height: 38px;
}

div.cms .cms-structure.cms-structure-condensed .cms-submenu-btn {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

div.cms .cms-structure.cms-structure-condensed .cms-submenu-add {
  right: 39px;
}

div.cms .cms-structure.cms-structure-condensed .cms-submenu-edit {
  right: 75px;
}

div.cms .cms-structure.cms-structure-condensed .cms-submenu-dropdown-settings .cms-submenu-item a, div.cms .cms-structure.cms-structure-condensed .cms-submenu-dropdown-settings .cms-submenu-item a:before {
  line-height: 40px;
  min-height: 40px;
}

div.cms .cms-structure.cms-structure-condensed .cms-dragarea {
  padding: 0;
}

div.cms .cms-structure.cms-structure-condensed .cms-dragbar-title {
  margin-right: 82px;
}

div.cms .cms-structure.cms-structure-condensed .cms-draggable-stack {
  height: 40px !important;
}

.cms-dragitem-success {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 1000;
  border: 1px solid #00bbff !important;
  background: #ccf1ff !important;
  border-radius: 3px;
  opacity: 0.6;
}

.cms-dragitem-success.cms-plugin-overlay-see-through {
  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
  border-width: 3px !important;
  background: none !important;
  opacity: 0.6;
  pointer-events: none;
}

.cms-dragitem-success.cms-plugin-overlay-prominent {
  -webkit-box-shadow: 0px 0px 20px #00bbff;
          box-shadow: 0px 0px 20px #00bbff;
}

.cms-structure-mode-structure {
  min-height: 100%;
}

.ui-sortable-helper.cms-draggable .cms-submenu-btn {
  display: none !important;
}

.ui-sortable-helper.cms-draggable .cms-draggables {
  display: none !important;
}

.cms-overflow {
  overflow: hidden !important;
}

.cms-content-reloading {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff !important;
  opacity: .5;
  z-index: 9999;
}

div.cms .cms-submenu-btn {
  display: block;
  position: absolute;
  right: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  top: 50%;
  margin-top: -18px;
}

div.cms .cms-submenu-btn:before {
  content: "\E015";
}

div.cms .cms-submenu-btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  color: #555;
}

div.cms .cms-submenu-btn .cms-hover-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div.cms .cms-dragbar .cms-submenu-btn {
  margin-right: 2px;
  background-color: transparent;
}

div.cms .cms-dragbar .cms-submenu-btn:active, div.cms .cms-dragbar .cms-submenu-btn.cms-btn-active, div.cms .cms-dragbar .cms-dropdown-open .cms-submenu-btn.cms-dropdown-toggle, div.cms .cms-dropdown-open .cms-dragbar .cms-submenu-btn.cms-dropdown-toggle {
  background-color: #e6e6e6;
}

div.cms .cms-submenu-settings {
  border: none;
}

div.cms .cms-submenu-edit {
  right: 87px;
}

div.cms .cms-submenu-edit:before {
  content: "\E01B";
}

div.cms .cms-submenu-add {
  right: 46px;
}

div.cms .cms-submenu-add:before {
  content: "\E01F";
}

div.cms .cms-submenu-edit:before,
div.cms .cms-submenu-add:before {
  margin-left: -8px;
  margin-top: -8px;
  font-size: 16px;
}

div.cms .cms-submenu-lang {
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
  line-height: 18px;
  right: 10px;
  padding: 0 5px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

div.cms .cms-structure-content .cms-submenu-lang {
  display: none;
}

div.cms .cms-submenu-dropdown-top {
  top: 44px;
}

div.cms .cms-submenu-dropdown-bottom {
  bottom: 44px;
}

div.cms .cms-submenu-dropdown-settings {
  display: none;
  position: absolute;
  z-index: 1002;
  min-width: 180px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  right: 46px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a {
  position: relative;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 0 20px;
  line-height: 46px;
  min-height: 46px;
  padding-left: 40px;
  color: #555;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a:hover, div.cms .cms-submenu-dropdown-settings .cms-submenu-item a:focus {
  color: #fff;
  background: #00bbff;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-rel]:before, div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon]:before {
  position: absolute;
  left: 14px;
  top: 0;
  height: 46px;
  line-height: 46px;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon=copy]:before {
  content: "\E00B";
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon=paste]:before {
  content: "\E01A";
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon=scissors]:before {
  content: "\E021";
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon=bin]:before {
  content: "\E005";
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[href*=alias_plugin]:before {
  content: "\E001";
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item a[data-cms-icon=highlight]:before {
  content: "\E00F";
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item:first-child a:hover,
div.cms .cms-submenu-dropdown-settings .cms-submenu-item:first-child a:focus {
  border-radius: 5px 5px 0 0;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item:last-child a:hover,
div.cms .cms-submenu-dropdown-settings .cms-submenu-item:last-child a:focus {
  border-radius: 0 0 5px 5px;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item-paste-tooltip {
  display: none;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item-disabled {
  position: relative;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item-disabled a, div.cms .cms-submenu-dropdown-settings .cms-submenu-item-disabled a:hover, div.cms .cms-submenu-dropdown-settings .cms-submenu-item-disabled a:focus {
  cursor: default !important;
  opacity: 0.2;
  color: #555 !important;
  background: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.cms .cms-submenu-dropdown-settings .cms-submenu-item-disabled .cms-submenu-item-paste-tooltip {
  cursor: default;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div.cms .cms-submenu-dropdown-settings:before {
  z-index: -1;
  position: absolute;
  content: '';
  left: 100%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

div.cms .cms-submenu-dropdown-settings.cms-submenu-dropdown-top {
  top: 0 !important;
}

div.cms .cms-submenu-dropdown-settings.cms-submenu-dropdown-top:before {
  top: 18px !important;
}

div.cms .cms-submenu-dropdown-settings.cms-submenu-dropdown-bottom {
  bottom: 0 !important;
}

div.cms .cms-submenu-dropdown-settings.cms-submenu-dropdown-bottom:before {
  bottom: 18px !important;
}

div.cms .cms-submenu-dropdown-settings .cms-dropdown-inner {
  z-index: 1;
  background-color: white;
  border-radius: 5px;
}

div.cms .cms-dragbar .cms-submenu-dropdown-settings.cms-submenu-dropdown-top:before {
  top: 14px !important;
}

div.cms .cms-dragbar .cms-submenu-dropdown-settings.cms-submenu-dropdown-bottom:before {
  bottom: 12px !important;
  bottom: 14px !important;
}

div.cms .cms-z-index-9999 {
  z-index: 9999 !important;
}

div.cms .cms-clipboard {
  display: none;
}

div.cms .cms-clipboard-containers {
  display: none !important;
}

div.cms .cms-clipboard-containers .cms-dragarea {
  padding-top: 3px;
}

div.cms .cms-clipboard-containers .cms-draggable {
  display: block !important;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 3px;
  cursor: move;
}

div.cms .cms-clipboard-containers .cms-draggable .cms-dragitem {
  line-height: 46px;
  height: 46px;
  padding-left: 20px;
}

div.cms .cms-clipboard-containers .cms-draggable .cms-dragitem .cms-submenu-btn {
  display: none !important;
}

div.cms .cms-clipboard-containers .cms-draggable .cms-dragitem-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 40px;
}

div.cms .cms-clipboard-containers .cms-plugins {
  display: none;
}

div.cms .cms-clipboard-containers .cms-droppable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #b6b6b6;
  line-height: 26px;
  height: auto;
  margin: 0;
  border: 2px solid #00bbff;
  border-radius: 3px;
  background-color: #e6f8ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

div.cms .cms-clipboard-containers .cms-droppable:before {
  display: none;
}

div.cms .cms-modal-markup .cms-clipboard-containers {
  display: block !important;
}

div.cms .cms-modal-markup .cms-clipboard-containers .cms-is-dragging {
  display: block !important;
  opacity: 0.3;
}

div.cms .cms-plugin-picker {
  display: none;
}

div.cms .cms-plugin-picker .cms-submenu-item.cms-submenu-item-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

div.cms .cms-plugin-picker .cms-submenu-item a,
div.cms .cms-plugin-picker span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
  min-height: 32px;
  padding: 0 20px;
}

div.cms .cms-plugin-picker .cms-submenu-item a {
  color: #000;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

div.cms .cms-plugin-picker .cms-submenu-item a:hover {
  color: #00bbff;
  border-top: 1px solid #00bbff;
  border-bottom: 1px solid #00bbff;
}

div.cms .cms-plugin-picker .cms-submenu-item a:focus {
  color: #fff;
  background: #00bbff;
  border-top: 1px solid #00bbff;
  border-bottom: 1px solid #00bbff;
}

div.cms .cms-plugin-picker .cms-submenu-item span {
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  cursor: default;
}

div.cms .cms-modal-markup .cms-plugin-picker {
  display: block;
}

div.cms .cms-quicksearch {
  display: none;
  position: relative;
  height: 40px;
  border-bottom: 1px solid #dddddd;
  cursor: default;
}

div.cms .cms-quicksearch label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

div.cms .cms-quicksearch input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: none;
  background-color: #f2f2f2;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

div.cms .cms-modal-markup .cms-quicksearch {
  display: block;
}

div.cms .cms-add-plugin-placeholder {
  position: relative;
  z-index: 3;
  color: #00bbff;
  line-height: 44px;
  padding-left: 20px;
  border: 2px solid #00bbff;
  border-radius: 3px;
  background-color: #e6f8ff;
}

div.cms .cms-shortcuts {
  padding: 0 20px;
  margin-bottom: 20px;
}

div.cms .cms-shortcuts h2 {
  padding-top: 20px;
  padding-left: 8px;
  font-weight: bold;
  margin-bottom: 5px;
}

div.cms .cms-shortcut {
  clear: both;
}

div.cms .cms-shortcut-key-wrapper {
  width: 100px;
  text-align: right;
  vertical-align: top;
  padding-bottom: 5px;
  white-space: nowrap;
}

div.cms .cms-shortcut-key {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 3px 6px;
  border-radius: 3px;
  font-family: 'Operator Mono', 'Menlo', 'Monaco', 'Consolas', 'monospace';
  background: #eff0f2;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
          box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
}

div.cms .cms-shortcut-desc {
  padding: 3px 10px;
  width: 100%;
  padding-bottom: 5px;
}

div.cms *:not(.cms-modal):focus {
  outline: 2px dotted #454545;
  outline-offset: -3px;
}

div.cms *:not(.cms-modal):focus::-moz-focus-inner {
  border: 0 !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div.cms *:not(.cms-modal):focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -3px;
  }
}

div.cms *:not(.cms-modal):focus .cms-hover-tooltip {
  display: none;
}

div.cms .cms-pagetree-node-state {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
  vertical-align: top;
}

div.cms .cms-btn .cms-pagetree-node-state {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -4px;
}

div.cms .cms-btn:hover .cms-pagetree-node-state-dirty {
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
}

div.cms .cms-pagetree-node-state-empty {
  border-color: #999999;
  background-color: #fff;
}

div.cms .cms-pagetree-node-state-unpublished, div.cms .cms-pagetree-node-state-unpublished-parent {
  border-color: #999999;
  background-color: #999999;
}

div.cms .cms-pagetree-node-state-published {
  border-color: #693;
  background-color: #693;
}

div.cms .cms-pagetree-node-state-dirty {
  -webkit-animation: pulsate 2.5s ease-out infinite;
          animation: pulsate 2.5s ease-out infinite;
  border-color: #00bbff;
  background-color: #00bbff;
}

div.cms .cms-pagetree-node-state-deletion {
  border-color: #f00;
  background-color: #f00;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=cms.base.css.map */