/*!
 * @copyright: https://github.com/divio/django-cms
 */
@font-face {
  font-family: "django-cms-iconfont";
  src: url("../../fonts/3.7.0/django-cms-iconfont.eot");
  src: url("../../fonts/3.7.0/django-cms-iconfont.eot#iefix") format("eot"), url("../../fonts/3.7.0/django-cms-iconfont.woff2") format("woff2"), url("../../fonts/3.7.0/django-cms-iconfont.woff") format("woff"), url("../../fonts/3.7.0/django-cms-iconfont.ttf") format("truetype"), url("../../fonts/3.7.0/django-cms-iconfont.svg#django-cms-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cms-icon, .cms-tree-item-preview a, .jstree-django-cms .jstree-ocl, .cms-tree-node-success > .jstree-anchor .jstree-themeicon, .cms-tooltip:before,
.cms-tooltip-touch:before {
  display: inline-block;
  font: normal normal normal 16px/1 django-cms-iconfont;
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cms-icon-alias:before {
  content: "\E001";
}

.cms-icon-arrow-right:before {
  content: "\E002";
}

.cms-icon-arrow-wide:before {
  content: "\E003";
}

.cms-icon-arrow:before {
  content: "\E004";
}

.cms-icon-bin:before {
  content: "\E005";
}

.cms-icon-check-o:before {
  content: "\E006";
}

.cms-icon-check-square:before {
  content: "\E007";
}

.cms-icon-check:before {
  content: "\E008";
}

.cms-icon-close:before {
  content: "\E009";
}

.cms-icon-cogs:before {
  content: "\E00A";
}

.cms-icon-copy:before {
  content: "\E00B";
}

.cms-icon-eye:before {
  content: "\E00C";
}

.cms-icon-forbidden:before {
  content: "\E00D";
}

.cms-icon-handler:before {
  content: "\E00E";
}

.cms-icon-highlight:before {
  content: "\E00F";
}

.cms-icon-home:before {
  content: "\E010";
}

.cms-icon-info:before {
  content: "\E011";
}

.cms-icon-loader:before {
  content: "\E012";
}

.cms-icon-lock:before {
  content: "\E013";
}

.cms-icon-logo:before {
  content: "\E014";
}

.cms-icon-menu:before {
  content: "\E015";
}

.cms-icon-minimize:before {
  content: "\E016";
}

.cms-icon-minus-square-o:before {
  content: "\E017";
}

.cms-icon-minus-square:before {
  content: "\E018";
}

.cms-icon-minus:before {
  content: "\E019";
}

.cms-icon-paste:before {
  content: "\E01A";
}

.cms-icon-pencil:before {
  content: "\E01B";
}

.cms-icon-pin:before {
  content: "\E01C";
}

.cms-icon-plugins:before {
  content: "\E01D";
}

.cms-icon-plus-square-o:before {
  content: "\E01E";
}

.cms-icon-plus:before {
  content: "\E01F";
}

.cms-icon-puzzle:before {
  content: "\E020";
}

.cms-icon-scissors:before {
  content: "\E021";
}

.cms-icon-search:before {
  content: "\E022";
}

.cms-icon-sitemap:before {
  content: "\E023";
}

.cms-icon-squares:before {
  content: "\E024";
}

.cms-icon-window:before {
  content: "\E025";
}

.cms-pagetree-wrapper .cms-btn {
  background-image: none !important;
  margin-bottom: 0;
  border-radius: 3px !important;
  color: #555 !important;
  background-color: #fff !important;
  border: 1px solid #dddddd !important;
  background-clip: padding-box;
  -webkit-appearance: none;
}

.cms-pagetree-wrapper .cms-btn:focus, .cms-pagetree-wrapper .cms-btn.focus {
  color: #555 !important;
  background-color: #f2f2f2 !important;
  border-color: #d0d0d0 !important;
  text-decoration: none !important;
}

.cms-pagetree-wrapper .cms-btn:hover {
  color: #555 !important;
  background-color: #f2f2f2 !important;
  border-color: #d0d0d0 !important;
  text-decoration: none !important;
}

.cms-pagetree-wrapper .cms-btn:active, .cms-pagetree-wrapper .cms-btn.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn {
  color: #555 !important;
  background-color: #e6e6e6 !important;
  border-color: #c3c3c3 !important;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.cms-pagetree-wrapper .cms-btn:active:hover, .cms-pagetree-wrapper .cms-btn:active:focus, .cms-pagetree-wrapper .cms-btn:active.focus, .cms-pagetree-wrapper .cms-btn.cms-btn-active:hover, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn:hover, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn:hover, .cms-pagetree-wrapper .cms-btn.cms-btn-active:focus, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn:focus, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn:focus, .cms-pagetree-wrapper .cms-btn.cms-btn-active.focus, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn.focus, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn.focus {
  color: #555 !important;
  background-color: #d4d4d4 !important;
  border-color: #9d9d9d !important;
}

.cms-pagetree-wrapper .cms-btn:active, .cms-pagetree-wrapper .cms-btn.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn {
  background-image: none !important;
}

.cms-pagetree-wrapper .cms-btn.cms-btn-disabled, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:hover, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:focus, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled.focus, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:active, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn.cms-btn-disabled, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn.cms-btn-disabled, .cms-pagetree-wrapper .cms-btn[disabled], .cms-pagetree-wrapper .cms-btn[disabled]:hover, .cms-pagetree-wrapper .cms-btn[disabled]:focus, .cms-pagetree-wrapper .cms-btn[disabled].focus, .cms-pagetree-wrapper .cms-btn[disabled]:active, .cms-pagetree-wrapper .cms-btn[disabled].cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn[disabled], .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn[disabled] {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-color: rgba(221, 221, 221, 0.4) !important;
  color: #d5d5d5 ;
  cursor: not-allowed;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cms-pagetree-wrapper .cms-btn.cms-btn-disabled:before, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:hover:before, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:focus:before, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled.focus:before, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:active:before, .cms-pagetree-wrapper .cms-btn.cms-btn-disabled.cms-btn-active:before, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn.cms-btn-disabled:before, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn.cms-btn-disabled:before, .cms-pagetree-wrapper .cms-btn[disabled]:before, .cms-pagetree-wrapper .cms-btn[disabled]:hover:before, .cms-pagetree-wrapper .cms-btn[disabled]:focus:before, .cms-pagetree-wrapper .cms-btn[disabled].focus:before, .cms-pagetree-wrapper .cms-btn[disabled]:active:before, .cms-pagetree-wrapper .cms-btn[disabled].cms-btn-active:before, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn[disabled]:before, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn[disabled]:before {
  color: rgba(85, 85, 85, 0.4) ;
}

.cms-pagetree-wrapper .cms-btn-action {
  background-image: none !important;
  margin-bottom: 0;
  border-radius: 3px !important;
  color: #fff !important;
  background-color: #00bbff !important;
  border: 1px solid #00bbff !important;
  background-clip: padding-box;
  -webkit-appearance: none;
}

.cms-pagetree-wrapper .cms-btn-action:focus, .cms-pagetree-wrapper .cms-btn-action.focus {
  color: #fff !important;
  background-color: #00a8e6 !important;
  border-color: #00a8e6 !important;
  text-decoration: none !important;
}

.cms-pagetree-wrapper .cms-btn-action:hover {
  color: #fff !important;
  background-color: #00a8e6 !important;
  border-color: #00a8e6 !important;
  text-decoration: none !important;
}

.cms-pagetree-wrapper .cms-btn-action:active, .cms-pagetree-wrapper .cms-btn-action.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn {
  color: #fff !important;
  background-color: #0096cc !important;
  border-color: #0096cc !important;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.cms-pagetree-wrapper .cms-btn-action:active:hover, .cms-pagetree-wrapper .cms-btn-action:active:focus, .cms-pagetree-wrapper .cms-btn-action:active.focus, .cms-pagetree-wrapper .cms-btn-action.cms-btn-active:hover, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn:hover, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn:hover, .cms-pagetree-wrapper .cms-btn-action.cms-btn-active:focus, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn:focus, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn:focus, .cms-pagetree-wrapper .cms-btn-action.cms-btn-active.focus, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.focus.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.focus.cms-btn {
  color: #fff !important;
  background-color: #007ba8 !important;
  border-color: #005e80 !important;
}

.cms-pagetree-wrapper .cms-btn-action:active, .cms-pagetree-wrapper .cms-btn-action.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn {
  background-image: none !important;
}

.cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:hover, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:focus, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled.focus, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:active, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn-disabled.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled.cms-btn, .cms-pagetree-wrapper .cms-btn-action[disabled], .cms-pagetree-wrapper .cms-btn-action[disabled]:hover, .cms-pagetree-wrapper .cms-btn-action[disabled]:focus, .cms-pagetree-wrapper .cms-btn-action[disabled].focus, .cms-pagetree-wrapper .cms-btn-action[disabled]:active, .cms-pagetree-wrapper .cms-btn-action[disabled].cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn[disabled], .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn[disabled] {
  background-color: rgba(0, 187, 255, 0.4) !important;
  border-color: rgba(0, 187, 255, 0.4) !important;
  color: white ;
  cursor: not-allowed;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:before, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:hover:before, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:focus:before, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled.focus:before, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled:active:before, .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled.cms-btn-active:before, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn-disabled.cms-btn:before, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn-disabled.cms-btn:before, .cms-pagetree-wrapper .cms-btn-action[disabled]:before, .cms-pagetree-wrapper .cms-btn-action[disabled]:hover:before, .cms-pagetree-wrapper .cms-btn-action[disabled]:focus:before, .cms-pagetree-wrapper .cms-btn-action[disabled].focus:before, .cms-pagetree-wrapper .cms-btn-action[disabled]:active:before, .cms-pagetree-wrapper .cms-btn-action[disabled].cms-btn-active:before, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-action.cms-btn[disabled]:before, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-action.cms-btn[disabled]:before {
  color: rgba(255, 255, 255, 0.4) ;
}

.cms-pagetree-wrapper .cms-btn-caution {
  background-image: none !important;
  margin-bottom: 0;
  border-radius: 3px !important;
  color: #fff !important;
  background-color: #ff4000 !important;
  border: 1px solid #ff4000 !important;
  background-clip: padding-box;
  -webkit-appearance: none;
}

.cms-pagetree-wrapper .cms-btn-caution:focus, .cms-pagetree-wrapper .cms-btn-caution.focus {
  color: #fff !important;
  background-color: #e63900 !important;
  border-color: #e63900 !important;
  text-decoration: none !important;
}

.cms-pagetree-wrapper .cms-btn-caution:hover {
  color: #fff !important;
  background-color: #e63900 !important;
  border-color: #e63900 !important;
  text-decoration: none !important;
}

.cms-pagetree-wrapper .cms-btn-caution:active, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn {
  color: #fff !important;
  background-color: #cc3300 !important;
  border-color: #cc3300 !important;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.cms-pagetree-wrapper .cms-btn-caution:active:hover, .cms-pagetree-wrapper .cms-btn-caution:active:focus, .cms-pagetree-wrapper .cms-btn-caution:active.focus, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-active:hover, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn:hover, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn:hover, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-active:focus, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn:focus, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn:focus, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-active.focus, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.focus.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.focus.cms-btn {
  color: #fff !important;
  background-color: #a82a00 !important;
  border-color: #802000 !important;
}

.cms-pagetree-wrapper .cms-btn-caution:active, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn {
  background-image: none !important;
}

.cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:hover, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:focus, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled.focus, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:active, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled.cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn-disabled.cms-btn, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled.cms-btn, .cms-pagetree-wrapper .cms-btn-caution[disabled], .cms-pagetree-wrapper .cms-btn-caution[disabled]:hover, .cms-pagetree-wrapper .cms-btn-caution[disabled]:focus, .cms-pagetree-wrapper .cms-btn-caution[disabled].focus, .cms-pagetree-wrapper .cms-btn-caution[disabled]:active, .cms-pagetree-wrapper .cms-btn-caution[disabled].cms-btn-active, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn[disabled], .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn[disabled] {
  background-color: rgba(255, 64, 0, 0.4) !important;
  border-color: rgba(255, 64, 0, 0.4) !important;
  color: white ;
  cursor: not-allowed;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:before, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:hover:before, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:focus:before, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled.focus:before, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled:active:before, .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled.cms-btn-active:before, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn-disabled.cms-btn:before, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn-disabled.cms-btn:before, .cms-pagetree-wrapper .cms-btn-caution[disabled]:before, .cms-pagetree-wrapper .cms-btn-caution[disabled]:hover:before, .cms-pagetree-wrapper .cms-btn-caution[disabled]:focus:before, .cms-pagetree-wrapper .cms-btn-caution[disabled].focus:before, .cms-pagetree-wrapper .cms-btn-caution[disabled]:active:before, .cms-pagetree-wrapper .cms-btn-caution[disabled].cms-btn-active:before, .cms-pagetree-wrapper .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-btn-caution.cms-btn[disabled]:before, .cms-pagetree .cms-pagetree-dropdown-menu-open .cms-pagetree-wrapper .cms-btn-caution.cms-btn[disabled]:before {
  color: rgba(255, 255, 255, 0.4) ;
}

.cms-pagetree-wrapper .cms-btn-disabled img {
  opacity: 0.2 !important;
}

.cms-admin-sideframe:not(.djangocms-admin-style) {
  margin-top: 46px;
}

.cms-btn-toolbar {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  font-size: 12px;
  padding: 0 22px;
}

.cms-hidden,
.hidden {
  display: none !important;
}

.cms-clear {
  clear: both;
  overflow: hidden;
}

.cms-clear-mobile {
  clear: both;
  overflow: hidden;
}

@media (min-width: 520px) {
  .cms-clear-mobile {
    display: none;
  }
}

.jstree li {
  -ms-touch-action: none;
  touch-action: none;
}

.cms-pagetree-root,
.cms-pagetree-root.filtered {
  min-height: 0;
  padding: 0 !important;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.cms-pagetree {
  border: 1px solid #dddddd;
}

.cms-pagetree .cms-hover-tooltip {
  z-index: auto;
}

.cms-pagetree .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cms-pagetree .cms-btn.cms-icon {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 39px;
  height: 37px;
  position: relative;
}

.cms-pagetree .cms-btn.cms-icon:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  margin-left: -8px;
}

.cms-pagetree .cms-btn.cms-btn-no-border {
  border: none !important;
}

.cms-pagetree-header {
  position: relative;
  display: table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: auto;
  min-height: 36px;
  padding: 15px 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
  background: #f7f7f7;
}

.cms-pagetree-header:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #fff;
}

.cms-pagetree-header + .module {
  padding-top: 0 !important;
}

.djangocms-admin-style .cms-pagetree-header {
  margin: -40px 0 0 0;
}

.djangocms-admin-style.cms-admin-sideframe .cms-pagetree-header {
  margin-top: -25px;
}

.cms-pagetree-header-title {
  display: table-cell;
  width: 100%;
  line-height: 36px;
  height: 36px;
}

.cms-pagetree-header-title h1 {
  line-height: 36px;
  margin: 0 !important;
}

.cms-pagetree-header-title h1 span {
  font-weight: normal;
}

.cms-pagetree-header-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@media (max-width: 520px) {
  .cms-pagetree-header-row {
    display: block;
  }
}

.cms-pagetree-header-cell {
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}

@media (max-width: 520px) {
  .cms-pagetree-header-cell {
    display: block;
  }
}

.cms-pagetree-header-cell-fluid {
  width: 100%;
}

.cms-pagetree-header-cell-search {
  width: 220px !important;
  position: relative;
}

.cms-pagetree-header-filter-active .cms-pagetree-header-cell-search {
  position: static;
}

@media (max-width: 520px) {
  .cms-pagetree-header-cell-search {
    width: 100% !important;
  }
}

@media (max-width: 520px) {
  .cms-pagetree-header-body {
    text-align: right;
    padding-top: 10px;
  }
}

.cms-pagetree-header-filter-active .cms-pagetree-search-container {
  position: relative;
}

.cms-pagetree-header-search {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

@media (max-width: 520px) {
  .cms-pagetree-header-search {
    position: relative;
  }
}

.cms-pagetree-header-search .cms-pagetree-header-search-btn {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  outline: none;
  color: #fff !important;
  padding: 8px 10px !important;
  border: none !important;
  background: #00bbff !important;
  height: 36px;
  border-radius: 3px;
}

.cms-pagetree-header-search .cms-pagetree-header-search-btn:hover {
  background: #00a8e6 !important;
}

.cms-pagetree-header-search .cms-pagetree-header-search-btn:active, .cms-pagetree-header-search .cms-pagetree-header-search-btn:focus {
  color: #fff !important;
  background: #0083b3 !important;
}

.cms-pagetree-header-search .cms-pagetree-header-filter {
  position: relative;
  display: table-cell;
  width: 100%;
  padding-right: 5px;
  vertical-align: middle;
}

.cms-pagetree-header-search .cms-pagetree-header-filter input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: inline-block;
  height: 36px;
  padding: 6px;
  line-height: 24px;
  padding-right: 35px !important;
  -webkit-transition: width 200ms;
  transition: width 200ms;
}

.cms-pagetree-header-filter-active .cms-pagetree-header-search {
  left: 0;
  right: 0;
  top: 0;
}

.djangocms-admin-style .cms-pagetree-header-search {
  margin: 5px 0 10px;
}

.cms-pagetree-header-filter-trigger {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
  padding: 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.cms-pagetree-header-filter-trigger:hover .cms-icon,
.cms-pagetree-header-filter-trigger:active .cms-icon,
.cms-pagetree-header-filter-trigger:focus .cms-icon {
  color: #00bbff;
}

.cms-pagetree-header-filter-trigger .cms-icon {
  font-size: 11px;
  color: #666666;
}

.cms-pagetree-header-filter-container {
  display: none;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  padding: 5px 20px 15px;
  max-height: 400px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  background: #fff;
  z-index: 1000;
}

.cms-pagetree-header-filter-container h3 {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

.cms-pagetree-header-filter-container ul,
.cms-pagetree-header-filter-container li {
  list-style-type: none;
  padding: 2px 0;
  margin: 0;
}

.cms-pagetree-header-filter-container li a {
  color: #999999;
}

.cms-pagetree-header-filter-container .selected a {
  color: #00bbff;
  font-weight: bold;
}

.cms-pagetree-header-search-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.cms-pagetree-header-search-close:hover .cms-icon,
.cms-pagetree-header-search-close:active .cms-icon,
.cms-pagetree-header-search-close:focus .cms-icon {
  color: #00bbff;
}

.cms-pagetree-header-search-close .cms-icon {
  font-size: 12px;
  color: #666666;
}

.cms-pagetree-header-search-reset {
  font-size: 90%;
  padding: 0 10px;
}

.cms-pagetree-sites-list {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.cms-pagetree-sites-list .cms-pagetree-dropdown-trigger {
  display: inline-block;
  color: #666666 !important;
  padding: 10px;
  height: 16px;
}

.cms-pagetree-sites-list .cms-pagetree-dropdown-menu {
  right: 50%;
  margin-right: -19px !important;
}

.cms-pagetree-header-create {
  display: inline-block;
  vertical-align: top;
  height: 36px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.djangocms-admin-style .cms-pagetree-breadcrumbs {
  margin-bottom: -30px !important;
  border: none !important;
}

.cms-pagetree-section {
  position: relative;
  z-index: auto;
  min-height: 15px;
  padding: 15px 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
  background: #fff;
}

.cms-pagetree-section h2,
.cms-pagetree-section p {
  padding: 0;
  margin: 0;
  border: none;
}

.cms-pagetree-section h2 {
  float: left;
  font-weight: bold;
  color: #333333;
  background: none;
}

.cms-pagetree-container + .cms-pagetree-section {
  margin-top: -1px;
}

.cms-pagetree-section-condensed {
  padding: 10px 20px;
}

.cms-pagetree-section-nav {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -19px;
}

.cms-pagetree-section-nav .cms-pagetree-dropdown-menu {
  right: 40px;
  top: -2px;
  width: 205px;
}

.cms-pagetree-dropdown-separator {
  padding: 0;
  margin: 4px 1px !important;
  line-height: 1;
  height: 1px;
  background: #dddddd;
}

.cms-pagetree-container {
  position: relative;
  z-index: auto;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.cms-tree-col {
  float: right;
  min-width: 32px;
  height: 32px;
}

.cms-tree-col-padding-sm {
  margin-top: -3px;
  margin-left: -4px;
  margin-right: -4px;
  height: 38px;
}

.cms-tree-item {
  display: table;
  width: 100%;
  text-align: center;
  height: 32px;
}

.cms-tree-item + .cms-tree-item {
  padding-left: 4px;
}

.cms-tree-item-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.cms-tree-item-wrapper {
  display: table-row;
  min-width: 32px;
}

.cms-tree-item-wrapper .cms-tree-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  min-width: 32px;
}

.cms-tree-item-wrapper .cms-tree-item-inner {
  display: block;
}

.cms-tree-item-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.cms-tree-reload {
  float: right;
}

.cms-tree-item-lang .cms-pagetree-dropdown-menu {
  right: 32px;
  top: -5px;
  min-width: 180px;
}

.cms-tree-item-button .cms-pagetree-dropdown-menu {
  right: 40px;
  top: -2px;
  width: 205px;
}

.cms-tree-item-button .cms-hover-tooltip:before, .cms-tree-item-button .cms-hover-tooltip:after {
  bottom: 23px;
}

.cms-pagetree-alt-mode .cms-tree-item-button .cms-icon-pencil:not(.cms-btn-disabled)[data-url]:before {
  content: "\E00A";
}

.cms-tree-item-icons {
  position: relative;
}

.cms-tree-item-icons .cms-icon {
  display: block;
}

.cms-tree-item-icons span:before {
  color: #999999;
}

.cms-tree-item-icons-dark span:before {
  color: #454545;
}

.cms-tree-item-preview {
  position: relative;
}

.cms-tree-item-preview a {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  display: block;
}

.cms-tree-item-preview a:before {
  content: "\E00C";
}

.cms-tree-item-preview a:before {
  display: block;
  color: #454545;
}

.cms-tree-item-preview a:hover:before {
  color: #000;
}

.cms-tree-item-preview-active a:before {
  color: #000;
}

.cms-tree-item-lang {
  position: relative;
}

.cms-tree-item-lang .cms-tree-item-inner > a {
  display: block;
  height: 16px;
}

.cms-tree-item-menu {
  position: relative;
}

.cms-tree-item-menu .cms-tree-item-inner > a {
  display: block;
  height: 14px;
}

.cms-tree-item-menu .cms-icon {
  display: block;
}

.cms-tree-item-menu .cms-icon:before {
  display: block;
  font-size: 14px;
  color: #454545;
}

.cms-tree-item-menu .cms-icon-check-square:before {
  color: #693;
}

.cms-tree-item-info {
  position: relative;
}

.cms-tree-item-info .cms-tree-item-inner > a {
  display: block;
  height: 16px;
}

.cms-tree-item-info .cms-icon {
  display: block;
}

.cms-tree-item-info .cms-icon:before {
  display: block;
  font-size: 16px;
}

.cms-tree-item-info p {
  color: #333333;
  padding: 0;
  margin: 0;
}

.cms-tree-item-info strong {
  color: #999999;
  font-weight: normal;
}

.cms-tree-item-info a {
  display: inline-block;
  line-height: 1;
}

.cms-tree-search {
  float: left;
  margin-right: 5px;
}

.cms-tree-search label {
  display: none !important;
}

.cms-tree-search select {
  position: relative;
  top: 2px;
  width: 175px !important;
}

.cms-tree-search #toolbar form#changelist-search input[type="submit"] {
  margin-left: 0 !important;
}

.cms-tree-search #toolbar form#changelist-search #searchbar {
  width: 175px !important;
}

.cms-tree-filters {
  float: right;
}

.cms-tree-filters .js-cms-tree-filter-trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
  line-height: 30px;
  width: 175px;
  border-bottom: 1px solid #dddddd;
}

.cms-tree-filters h2 {
  display: none;
}

.cms-pagetree-empty {
  padding: 15px 20px;
  border-top: none;
}

.cms-pagetree-empty .addlink {
  padding-left: 0;
}

.jstree-django-cms {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.jstree-django-cms .jstree-container-ul,
.jstree-django-cms .jstree-children,
.jstree-django-cms .jstree-leaf,
.jstree-django-cms .jstree-node {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.jstree-django-cms .jstree-is-dragging {
  opacity: 0.1 !important;
}

.jstree-django-cms .jstree-is-dragging + .jstree-grid-cell {
  height: 47px;
  border-top: 1px solid #dddddd;
  margin-top: -1px;
}

.jstree-django-cms .jstree-is-dragging-copy {
  opacity: 0.9 !important;
}

.jstree-django-cms .jstree-grid-header,
.jstree-django-cms .jstree-grid-separator {
  padding: 0;
  margin: 0;
  margin-left: 0 !important;
  border: none;
  background: none;
}

.jstree-django-cms .jstree-grid-header {
  z-index: 1;
  position: relative;
}

.jstree-django-cms.jstree-grid-cell {
  padding: 0;
}

.jstree-django-cms .jstree-grid-column,
.jstree-django-cms .jstree-grid-cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: visible;
}

.jstree-django-cms .jstree-grid-column {
  vertical-align: top;
}

.jstree-grid-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: visible !important;
  width: 100% !important;
}

.jstree-grid-wrapper {
  background: #f2f2f2;
}

.jstree-django-cms .jstree-grid-header {
  font-size: 12px;
  color: #666666;
  text-align: center;
  padding: 3px 6px;
  border-bottom: 1px solid #dddddd;
  background: #fff;
}

.jstree-django-cms .jstree-grid-header-fixed {
  position: fixed;
  z-index: 2;
}

.jstree-django-cms .jstree-grid-column-0 .jstree-grid-header {
  text-align: left !important;
}

.jstree-django-cms .jstree-children {
  margin-left: 20px;
}

.jstree-django-cms .jstree-container-ul {
  margin-left: -1px;
}

.jstree-django-cms .jstree-ocl {
  float: left;
  position: relative;
  left: 20px;
  font-size: 12px;
  color: #999999;
  padding: 18px 10px 10px 0;
}

.jstree-django-cms .jstree-ocl:before {
  display: inline-block;
}

.jstree-django-cms .jstree-open > .jstree-ocl,
.jstree-django-cms .jstree-closed > .jstree-ocl {
  cursor: pointer;
}

.jstree-django-cms .jstree-open > .jstree-ocl:before {
  content: "\E002";
}

.jstree-django-cms .jstree-open > .jstree-ocl:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jstree-django-cms .jstree-closed > .jstree-ocl:before {
  content: "\E002";
}

.jstree-django-cms .jstree-loading > .jstree-ocl:before {
  content: "\E012";
}

.jstree-django-cms .jstree-loading > .jstree-ocl:before {
  -webkit-animation: cms-spin 2s infinite linear;
          animation: cms-spin 2s infinite linear;
}

.jstree-django-cms .jstree-anchor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  cursor: move;
  outline: none;
  color: #666666;
  height: 47px;
  padding: 12px 25px;
  margin-top: -1px;
  border: 1px solid #dddddd;
  border-right: none;
  background-color: #fff;
  background-image: url("../../img/pagetree/tree-li-drag.gif");
  background-repeat: no-repeat;
  background-position: -1px center;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.jstree-django-cms .jstree-anchor:hover {
  color: #666666 !important;
}

.jstree-django-cms .jstree-node[data-move-permission="false"] > .jstree-anchor {
  cursor: default;
  background-image: none;
}

.jstree-django-cms .jstree-open > .jstree-anchor,
.jstree-django-cms .jstree-closed > .jstree-anchor,
.jstree-django-cms .jstree-loading > .jstree-anchor {
  padding: 12px 25px 12px 45px;
}

.jstree-django-cms .cms-tree-node-filtered .jstree-anchor {
  cursor: default;
}

.jstree-django-cms .jstree-grid-cell {
  height: 46px;
  border-bottom: 1px solid #dddddd;
  background: #fff;
}

.jstree-django-cms .jstree-grid-cell > span {
  display: block;
}

.jstree-django-cms .jstree-grid-cell.jstree-django-cms {
  height: auto;
  border: none;
  background: none;
}

.jstree-django-cms .jstree-grid-cell-regular {
  text-align: center;
  padding: 7px 8px;
  border-left: 1px solid #dddddd;
}

.jstree-django-cms .jstree-grid-cell-regular-options {
  border-left: none;
  text-align: right;
}

.jstree-django-cms .jstree-hovered,
.jstree-django-cms .jstree-clicked {
  background-color: #fafafa !important;
}

.jstree-django-cms .jstree-grid-column-1 .jstree-grid-header {
  text-align: right;
}

.jstree-django-cms .jstree-grid-column-1 .jstree-grid-header a {
  font-size: 12px;
  top: 0;
}

.jstree-django-cms .jstree-grid-column-1 .jstree-grid-header span {
  line-height: 1;
}

.jstree-django-cms .jstree-grid-column-1 .jstree-grid-header .cms-icon {
  font-size: 12px;
  padding-right: 5px;
  margin-left: 5px;
}

.jstree.jstree-loading .jstree-container-ul {
  margin: 0;
}

.jstree.jstree-loading .jstree-anchor {
  padding-top: 13px;
  padding-left: 15px;
  border: none;
  background: none;
}

.jstree.jstree-loading .jstree-loading > .jstree-ocl {
  display: none;
}

.cms-tree-node-success > .jstree-anchor .jstree-themeicon {
  content: "";
  position: relative;
  top: 4px;
  color: #693;
}

.cms-tree-node-success > .jstree-anchor .jstree-themeicon:before {
  content: "\E008";
}

.jstree-django-cms .cms-tree-node-shared-true > .jstree-anchor {
  border-style: dashed;
  border-right: none;
  color: #999;
  background-color: #f2f2f2 !important;
}

.jstree-django-cms .cms-tree-node-shared-true > .jstree-anchor:hover {
  color: #999 !important;
}

.jstree-django-cms .cms-tree-node-shared-true > .jstree-anchor.jstree-hovered, .jstree-django-cms .cms-tree-node-shared-true > .jstree-anchor.jstree-clicked {
  background-color: #f2f2f2 !important;
}

.jstree-django-cms .jstree-grid-cell.jstree-hovered,
.jstree-django-cms .jstree-grid-cell.jstree-clicked {
  background-color: #f2f2f2;
}

.jstree-django-cms .cms-tree-node-shared-false > .jstree-anchor {
  border-style: solid;
  border-right: none;
  background-color: white !important;
  border-bottom: 1px solid #dddddd;
}

.jstree-django-cms .cms-tree-node-shared-false > .jstree-anchor.jstree-hovered, .jstree-django-cms .cms-tree-node-shared-false > .jstree-anchor.jstree-clicked {
  background-color: #fafafa !important;
}

.jstree-django-cms .cms-tree-node-shared-false + .cms-tree-node-shared-true > .jstree-anchor {
  border-top-style: solid;
}

.jstree-django-cms .cms-tree-node-shared-false + .cms-tree-node-shared-true.jstree-hovered, .jstree-django-cms .cms-tree-node-shared-false + .cms-tree-node-shared-true.jstree-clicked {
  background-color: #f2f2f2;
}

.jstree-django-cms .cms-page-tree-cell-shared--true {
  border-style: dashed;
  background-color: #f2f2f2;
}

.jstree-django-cms .cms-page-tree-cell-shared--true.jstree-grid-cell-regular-options {
  border-left: none;
}

.jstree-django-cms .cms-page-tree-cell-shared--true .cms-btn-no-border {
  background-color: transparent !important;
}

.jstree-django-cms .cms-page-tree-cell-shared--true .cms-btn-no-border:hover {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}

.jstree-django-cms .cms-page-tree-cell-shared--true.jstree-hovered, .jstree-django-cms .cms-page-tree-cell-shared--true.jstree-clicked {
  background-color: #f2f2f2 !important;
}

.jstree-django-cms .cms-page-tree-cell-shared--false {
  background-color: white;
}

.jstree-django-cms .cms-page-tree-cell-shared--false.jstree-hovered, .jstree-django-cms .cms-page-tree-cell-shared--false.jstree-clicked {
  background-color: #fafafa !important;
}

.jstree-django-cms .cms-page-tree-cell-shared--true + .cms-page-tree-cell-shared--false {
  border-top: 1px solid #dddddd;
  margin-top: -1px;
  padding-top: 8px;
  height: 47px;
}

#jstree-dnd {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  min-width: 300px;
  height: 46px;
  padding: 12px 25px !important;
  margin-left: -5px;
  background-color: #00bbff !important;
  color: #fff;
}

#jstree-dnd .jstree-copy {
  color: #fff;
  padding: 0 5px 2px;
  margin-left: 5px;
  border-radius: 3px;
  background: #999999;
}

#jstree-dnd .jstree-ok,
#jstree-dnd .jstree-er {
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

#jstree-dnd .jstree-ok {
  display: none;
}

.is-stacked #jstree-dnd {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 4px 4px 0 0 #00bbff;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 4px 4px 0 0 #00bbff;
}

.is-stacked .jstree-er {
  -webkit-box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0.6);
          box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0.6);
}

#jstree-marker {
  position: absolute;
  right: 3%;
  z-index: 102;
  margin: -6px 0 0 0;
  border-right: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #00bbff;
  height: 0;
}

#jstree-marker:after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  top: -1px;
  left: -2px;
  right: 0;
  background-color: #00bbff;
}

#jstree-marker.jstree-marker-child {
  border: 2px solid #00bbff;
  height: 46px;
  margin: -24px 0 0 0;
  background-color: rgba(0, 187, 255, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jstree-marker.jstree-marker-child:after {
  display: none;
}

.djangocms-admin-style.cms-pagetree-wrapper.cms-admin-sideframe .messagelist + #content {
  margin-top: 117px !important;
}

.djangocms-admin-style.cms-pagetree-wrapper.cms-admin-sideframe #container .breadcrumbs {
  left: 20px;
}

.djangocms-admin-style.cms-pagetree-wrapper.cms-admin-sideframe #container .breadcrumbs + .messagelist + #content,
.djangocms-admin-style.cms-pagetree-wrapper.cms-admin-sideframe #container .breadcrumbs + #content {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.djangocms-admin-style.cms-pagetree-wrapper.cms-admin-sideframe #jstree-marker {
  right: 0;
}

.cms-pagetree-header-lang, .cms-pagetree-header-lang:link, .cms-pagetree-header-lang:active, .cms-pagetree-header-lang:hover, .cms-pagetree-header-lang:focus {
  color: #333333 !important;
}

.cms-pagetree-header-lang.active {
  font-weight: bold;
}

.cms-pagetree-dropdown {
  position: relative;
}

.cms-pagetree-dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: -1px;
  z-index: 1000;
  min-width: 180px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.cms-pagetree-dropdown-menu a,
.cms-pagetree-dropdown-menu .cms-pagetree-dropdown-item {
  display: block;
  color: #666666;
  line-height: 1.5;
  text-align: left;
  padding: 10px 15px;
}

.cms-pagetree-dropdown-menu a:hover,
.cms-pagetree-dropdown-menu a:active,
.cms-pagetree-dropdown-menu a:focus {
  color: #fff !important;
  background: #00bbff;
}

.cms-pagetree-dropdown-menu li:first-child > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cms-pagetree-dropdown-menu li:last-child > a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cms-pagetree-dropdown-menu .cms-pagetree-dropdown-item-disabled {
  opacity: 0.2;
  color: #454545;
  cursor: default;
}

.cms-pagetree-dropdown-menu .cms-pagetree-dropdown-item-disabled:hover, .cms-pagetree-dropdown-menu .cms-pagetree-dropdown-item-disabled:focus {
  background: none !important;
  color: #454545 !important;
}

.cms-pagetree-dropdown-menu.cms-pagetree-dropdown-menu-condensed a,
.cms-pagetree-dropdown-menu.cms-pagetree-dropdown-menu-condensed .cms-pagetree-dropdown-item {
  padding: 5px 15px;
}

.cms-pagetree-dropdown-menu .active {
  font-weight: bold;
}

.cms-pagetree-dropdown-menu .label {
  display: block;
  color: #999999;
  font-size: 90%;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
  padding: 7px 15px 5px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 4px;
}

.cms-pagetree-dropdown-menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cms-pagetree-dropdown-menu p {
  display: block;
  overflow: hidden;
  font-size: 12px !important;
  text-align: left;
  text-overflow: ellipsis;
  margin: 0;
  padding: 5px 15px 3px !important;
}

.cms-pagetree-dropdown-menu p strong {
  font-size: 12px !important;
}

.cms-pagetree-dropdown-menu p + p {
  margin-top: -2px;
  padding-top: 0 !important;
}

.cms-pagetree-dropdown-menu p:last-child {
  padding-bottom: 7px !important;
}

.cms-pagetree-dropdown-menu .cms-icon {
  margin-right: 10px;
}

.cms-pagetree-dropdown-menu span {
  vertical-align: middle;
}

.cms-pagetree-dropdown-menu:before {
  content: "";
  position: absolute;
  left: 100%;
  z-index: -1;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(45deg) translateZ(0);
          transform: rotate(45deg) translateZ(0);
}

.cms-pagetree-dropdown-menu .cms-pagetree-dropdown-menu-inner {
  margin: 0;
  padding: 0 !important;
  border-radius: 5px;
  background-color: #fff;
}

.cms-pagetree-dropdown-menu-open .cms-pagetree-dropdown-menu {
  display: block;
}

.cms-pagetree-dropdown-menu-arrow-top-right:before {
  margin-top: -5px;
  margin-left: -24px;
}

.cms-pagetree-dropdown-menu-arrow-right-top:before {
  top: 16px;
}

.cms-pagetree-dropdown-menu-arrow-right-bottom:before {
  bottom: 18px;
}

.cms-pagetree-dropdown-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}

.cms-pagetree-node-state {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
  vertical-align: top;
}

.cms-btn .cms-pagetree-node-state {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -4px;
}

.cms-btn:hover .cms-pagetree-node-state-dirty {
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
}

.cms-pagetree-node-state-empty {
  border-color: #999999;
  background-color: #fff;
}

.cms-pagetree-node-state-unpublished, .cms-pagetree-node-state-unpublished-parent {
  border-color: #999999;
  background-color: #999999;
}

.cms-pagetree-node-state-published {
  border-color: #693;
  background-color: #693;
}

.cms-pagetree-node-state-dirty {
  -webkit-animation: pulsate 2.5s ease-out infinite;
          animation: pulsate 2.5s ease-out infinite;
  border-color: #00bbff;
  background-color: #00bbff;
}

.cms-pagetree-node-state-deletion {
  border-color: #f00;
  background-color: #f00;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.cms-pagetree-legend {
  position: relative;
  text-align: right;
}

.cms-pagetree-legend .cms-icon-info {
  color: #00bbff;
  vertical-align: middle;
  margin-right: 5px;
}

.cms-pagetree-legend .cms-pagetree-dropdown {
  display: inline-block;
}

.cms-pagetree-legend .cms-pagetree-dropdown-menu {
  top: auto;
  right: 100%;
  bottom: 0;
  left: auto;
  margin-right: 10px;
  margin-bottom: -90px;
}

.cms-pagetree-legend .cms-pagetree-dropdown-menu:before {
  bottom: 96px;
}

.cms-pagetree-legend .cms-pagetree-dropdown-item .cms-pagetree-node-state {
  margin-right: 10px;
}

.cms-pagetree-legend .cms-pagetree-dropdown-item .cms-icon {
  margin-right: 8px;
}

.cms-pagetree-legend .cms-pagetree-dropdown-item .cms-icon-home,
.cms-pagetree-legend .cms-pagetree-dropdown-item .cms-icon-sitemap,
.cms-pagetree-legend .cms-pagetree-dropdown-item .cms-icon-puzzle {
  color: #999999;
}

.cms-pagetree-legend .cms-icon {
  text-align: center;
  width: 20px;
  margin-left: -2px;
}

.cms-pagetree-legend .cms-icon-check-square {
  color: #693;
  font-size: 14px;
}

.cms-pagetree-legend .cms-icon-minus-square {
  font-size: 14px;
}

.cms-pagetree-legend-title-wrap {
  cursor: pointer;
}

.cms-pagetree-legend-title {
  color: #999999;
  vertical-align: middle;
  text-transform: uppercase;
}

.cms-tooltip,
.cms-tooltip-touch {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  color: #dddddd;
  white-space: nowrap;
  padding: 0 7px 0 22px;
  margin: 0;
  border-radius: 3px;
  background: #454545;
}

.cms-tooltip:before,
.cms-tooltip-touch:before {
  content: "\E01B";
}

.cms-tooltip:before,
.cms-tooltip-touch:before {
  font-size: 14px;
  top: 50%;
  left: 4px;
  margin-top: -7px;
  position: absolute;
}

.cms-tooltip span,
.cms-tooltip-touch span {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: -4px;
  float: right;
  color: #fff;
  font-weight: normal;
  padding: 0 7px;
  border-radius: 3px 0 3px 3px;
  background: #454545;
}
/*# sourceMappingURL=cms.pagetree.css.map */