// main: ../style.sass

.catalog {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    justify-content: space-evenly;
  }

  &__servise {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: flex-start;

    &_img {
      padding: 10px;
      background: #131313;
    }

    &_box {
      display: flex;
      position: absolute;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.7s;

      &-active {
        opacity: 1;
        visibility: visible;
        top: 40px;
        transition: 0.7s;
      }
    }
  }

  &__item {
    margin: 10px;
    transition: .3s;
    transform: scale(1);
    &-active{
      transition: .3s;
      transform: scale(1.05);
    }
  }

  &__btn {
    margin: 50px auto 30px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &_items {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_item {
      margin: 0 8px;
      cursor: pointer;

      &:hover {
        color: #EC3A34;
      }

      &-active {
        color: #EC3A34;
      }
    }

    &_control {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
      cursor: pointer;
    }
  }
}

.card {
  width: 22%;
  background: #202020;
  border-radius: 10px;

  &__img {
    width: 100%;
    position: relative;
    & img {
      width: 100%;
      border-radius: 10px 10px 0 0;
      & a{
        display: block;
      }
    }

    &_discont {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #FE524C;
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
      // font-family: "HelveticaNeueCyr";
      font-weight: 500;
    }
  }

  &__main {
    padding: 20px 5%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title {
      font-size: 16px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 36px;
    }
  }

  &__service {
    display: flex;
    justify-content: space-between;
  }

  &__wrap-prise {
    display: flex;
  }

  &__discont {
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    text-decoration-line: line-through;
    color: #C4C4C4;
    padding-right: 15px;
  }

  &__prise {
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #EC3A34;
  }

  &__like {
    align-items: center;
    display: flex;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  &__button {
    position: relative;
    width: 100%;
    padding: 13px 0;
    background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    text-align: center;
    display: block;
    cursor: pointer;
    overflow: hidden;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2em;
      height: 100%;
      background-color: rgba(#fff,0.6);
      transform: translateX(-4em) skewX(-45deg);
      transition: 0.5s;
    }

    &:hover {
      &::before {
        animation: move-lighr 0.5s;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35);
      }
    }
  }
}

.catalog__filter_img {
  display: none;
}

.catalog__filter_box {
  position: relative;
  opacity: 1;
  visibility: visible;
}

#svg_2 {
  display: none;
}

.like__box-active #svg_2 {
  display: block;
}
@keyframes move-lighr {
  from {
    transform: translateX(-4em) skewX(-45deg);
  }

  to {
    transform: translateX(20em) skewX(-45deg);
  }
}
@media only screen and (max-width : 1045px) {
  .card {
    width: 22%;
  }
}
@media only screen and (max-width : 992px) {

  .card {
    width: 22%;

    &__title {
      min-height: 54px;
    }

    &__main {
      min-height: 220px;
    }
  }

  .catalog {
    &__filter {
      &_img {
        display: block;
        cursor: pointer;
        position: relative;
        width: 95px;

        &::after,
        &::before {
          box-sizing: inherit;
          content: '';
          position: absolute;
          width: 50%;
          height: 50%;
        }

        &::after,
        &::before {
          border: 0.5px solid transparent;
          width: 0;
          height: 0;
          border-radius: 3px;
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          right: 0;
        }
        /* hover efect start*/
        &:hover {
          @include transition(color 0.25s);
        }

        &:hover::after,
        &:hover::before {
          width: 100%;
          height: 100%;
        }

        &:hover::before {
          border-top-color: #EC3A34; // Make borders visible
          border-right-color: #EC3A34;
          @include transition(width 0.05s ease-out, height 0.05s ease-out 0.05s);
        }

        &:hover::after {
          border-bottom-color: #EC3A34;
          // Make borders visible
          border-left-color: #EC3A34;
          @include transition(width 0.05s ease-out 0.1s, height 0.05s ease-out 0.15s);
        }
        /* hover efect end*/
        &-active {
          &::before,
          &:hover::before {
            width: 100%;
            height: 100%;
            border-radius: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }

          &::after,
          &:hover::after {
            width: 100%;
            height: 100%;
          }

          &::before {
            border-top-color: #EC3A34;
            // Make borders visible
            border-right-color: #EC3A34;
          }

          &::after {
            // border-top-left-radius: 0;
          }

          &::after,
          &:hover::after {
            border-left-color: #EC3A34;
            border-bottom-color: #131313;
            border-bottom-left-radius: 0px;
          }
          z-index: 4;
        }
      }

      &_box {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        padding: 10px;
        border-radius: 0 3px 3px 3px;
        @include transition(opacity 0.5s ease-in 0.2s, top 0.5s linear);

        &::after,
        &::before {
          box-sizing: inherit;
          content: '';
          position: absolute;
          width: 50%;
          height: 50%;
          z-index: 1;
        }

        &::after,
        &::before {
          border: 0.5px solid transparent;
          width: 0;
          height: 0;
        }

        &::before {
          top: 0;
          left: 95PX;
        }

        &::after {
          bottom: 0;
          right: 0;
        }
        @include transition(top 0.2s ease-in);

        &-active {
          opacity: 1;
          visibility: visible;
          top: 39px;
          background: #131313;
          z-index: 3;

          &::after {
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 3px;
            border-top-left-radius: 0;
          }

          &::before {
            width: calc(100% - 95px);
            height: 100%;
            border-radius: 3px;
            border-top-left-radius: 0;
          }

          &::after {
            width: 100%;
            height: 100%;
          }

          &::before {
            border-top-color: #EC3A34; // Make borders visible
            border-right-color: #EC3A34;
            @include transition(width 0.10s ease-out 0.2s, height 0.10s ease-out 0.30s);
          }

          &::after {
            border-bottom-color: #EC3A34;
            // Make borders visible
            border-left-color: #EC3A34;
            @include transition(width 0.10s ease-out 0.40s, height 0.10s ease-out 0.50s);
          }
        }
      }
    }
  }
}
@media only screen and (max-width : 768px) {
  .catalog {
    &__btn {
      margin: 30px auto 20px;
    }
  }

  .card {
    width: 45%;

    &__title {
      min-height: 54px;
    }

    &__main {
      min-height: 190px;
      &_title{
        font-size: 14px;
      }
    }
  }
}
@media only screen and (max-width : 555px) {}
@media only screen and (max-width : 460px) {
  .catalog {
    &__item {
      margin: 10px 0;
    }

    &__wrap {
      justify-content: space-around;
    }

    &__filter {
      &_img {
        font-size: 12px;
        display: flex;
        align-items: center;
        width: 80px;
      }

      &_box {
        &-active {
          top: 35px;

          &::before {
            width: calc(100% - 80PX);
          }
        }

        &::before {
          top: 0;
          left: 80PX;
        }
      }
    }
  }

  .card {
    width: 45%;

    &__title {
      min-height: 50px;
      font-size: 14px;
    }

    &__discont {
      font-size: 12px;
      line-height: 14px;
      padding-right: 5px;
    }

    &__prise {
      font-size: 16px;
    }

    &__main {
      min-height: 195px;
    }

    &__img_discont {
      width: 35px;
      height: 35px;
      font-size: 10px;
    }
  }
}
