// main: ../style.sass


.partner{
  &__box{
    display: flex;
    align-items: center;
  }
  &__wrap{
    width: 90%;
    margin: 0 auto;
    .slick-track{
      display: flex;
      align-items: center;
    }

  }
  &__item{
    // height: 80px;
    margin: 0 20px;
    & img{
      height: 100%;
      width: auto;

      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE 6-9 */
      /*Добавим вот такой вот код*/
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      /*конец кода с transition*/
      &:hover{
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        filter: none; /* IE 6-9 */
        cursor: pointer;
      }
    }

  }
  &__dots{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    &:before{

    }
    .slick-active{
      &::before{
        height: 10px;
        width: 10px;
        background: #EC3A34;
      }
    }
    & li {
          margin: 0 15px;
          &:hover{
            cursor: pointer;
          }
      &:before{
        content: '';
        display: block;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background: #202020;

      }
      & button{
        display: none;
      }

    }
  }
  &__prew,&__next{
    position: relative;
    &_item{
      &:hover{
        background: linear-gradient(180deg, #EC3A34 0%, #FE524C 100%);
        cursor: pointer;
        transition: 1s;
      }
      position: absolute;
      top: calc(50% - 36px);
      height: 25px;
      width: 25px;
      left: 5px;
      transform: translateY(-50%);
          border-radius: 50%;
      &::before,&::after{
        position: absolute;
        content: '';
        display: block;
        height: 8px;
        border-right: 2px solid;
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg)  translate(50%,50%);
        left: 33%;
        top: 40%;
      }
      &::before {
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg) translate(50%,-50%);
        top: 28%;
        left: 34%;
      }
    }

  }
  &__next{

    &_item{
      right: -5px;
      left: unset;
      &::after{
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg) translate(-50%, -50%);
top: 17%;
left: 34%;

      }
      &::before {
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg) translate(-50%, 50%);
            top: 48%;
            left: 34%;

      }
    }
  }

}
@media only screen and (max-width : 768px){
.partner__next,.partner__prew{
  display: none;
}

}
