{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block title %}Тестовая страница в админке | Мой проект{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href=""></a>Пункт хлебных крошек</a>
        &rsaquo; Тестовая страница в админке
    </div>
{% endblock %}

{% block content %}
    <div class="fieldsets">
        <fieldset class="module">
            <h1>Тестовая страница в админке</h1>
            <p>Пример показывает, как добавить свою страницу в админку Django</p>
            <p>Произвольная переменная: {{ data }}</p>
        </fieldset>
    </div>
{% endblock %}