{% extends 'admin/change_list.html' %}
{% load i18n admin_urls %}
{% block object-tools %}
    <a href="import-csv/">Import CSV</a>
    <div>
        <form action="immortal/" method="POST">
            {% csrf_token %}
            <button class="button" type="submit">Make All Heroes Immortal</button>
        </form>
        <form action="mortal/" method="POST">
            {% csrf_token %}
            <button class="button" type="submit">Make All Heroes Mortal</button>
        </form>
    </div>
    {{ block.super }}
{% endblock %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'create_multiple_heroes' %}" class="addlink">
      Create multiple heroes
    </a>
  </li>
  {{ block.super }}
{% endblock %}
