<div class="product" data-id="1621">
    <div class="product__group">
        <div class="product__img">
                <img src="/static/img/card_img.jpg" alt="">
        </div>
        <div class="product__content">

            <div class="product__content_title">
                Серветки «Фрукти» ТМ МА111РГО </div>
            <div class="product__content_servise"> Код товару:
                <div class="product__content_namber">1145</div>
            </div>
        </div>
    </div>
    <div class="product__group">
        <div class="product__quantity" data-prise="6.78"   >
        <div class="product__group_plus plus-btn">+</div>
        <input class="product__quantity_count" type="text" name="name" value="1">
        <div class="product__group_minus minus-btn">-</div>
        </div>
        <div class="product__price_box">
            <div class="product__price_title">Ціна:</div>
            <div class="product__price">6,78 </div>
            <div class="product__cur">грн</div>
        </div>

    </div>

    <div class="product_remove cross"></div>
</div>