{% load i18n %}
<section class="container catalog">
  <div class="container__header">
      <h2 class="container__title">{% trans 'Вітрина товарів' %}</h2>
  </div>
  <div class="catalog__box">
      <div class="catalog__wrap">
        <!-- 
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %}
        {% include 'includes/catalog_item_card.html' %} 
        -->
      </div>
      {% if MORE%}
      <div data-href="" class="btn catalog__btn show_more">{% trans 'Більше товарів' %}</div>
      {% endif %}
  </div>
</section>
<script src="/static/catalog.js"></script>
