<div class="catalog__item card">
    <div class="card__img">

        <a href="product_card.html"><img class="lazyload " src="/static/img/svg/loader.svg" data-src="/static/img/card_img.jpg" alt=""></a>
        <div class="card__img_discont">new</div>
    </div>
    <div class="card__main">
        <div class="card__main_title">
        <a href="product_card.html">Серветки “Фрукти” ТМ “Марго”</a></div>
        <div class="card__service">
            <div class="card__wrap-prise">
                <div class="card__discont">6,78</div>
                <div class="card__prise">5,42 грн</div>
            </div>
            <div class="card__like">
                <div class="like__box">
                <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                    <g>

                    <path id="svg_1" fill="#EC3A34" d="m14.5413,0.66423c-1.4604,0 -2.8336,0.57102 -3.8688,1.61147c-0.2219,0.22304 -0.4438,0.44608 -0.6657,0.66912l-0.67622,-0.67963c-1.03518,-1.04045 -2.41194,-1.61498 -3.87234,-1.61498c-1.45692,0 -2.82671,0.57103 -3.8584,1.60798c-1.03518,1.04045 -1.60331,2.42072 -1.59982,3.88506c0,1.46434 0.57161,2.8411 1.60679,3.88501l8.08626,8.1275c0.08016,0.0806 0.18821,0.1261 0.29975,0.1261c0.11158,0 0.21958,-0.0455 0.29978,-0.1226l8.1036,-8.1169c1.0352,-1.04049 1.6034,-2.42076 1.6034,-3.8886c0.0034,-1.46785 -0.5612,-2.85162 -1.5964,-3.88857c-1.0317,-1.02994 -2.4015,-1.60096 -3.8619,-1.60096zm3.2589,8.77904l-7.80738,7.81569l-7.79,-7.8297c-0.87485,-0.87931 -1.35584,-2.04588 -1.35584,-3.28251c0,-1.24364 0.48099,-2.41021 1.35236,-3.279c0.87136,-0.87581 2.02853,-1.35575 3.2589,-1.35575c1.23734,0 2.39799,0.48345 3.27284,1.36275l0.97244,0.9774c0.08017,0.08057 0.18822,0.12611 0.29978,0.12611c0.1115,0 0.2196,-0.04554 0.2997,-0.12611l0.9655,-0.97039c0.8748,-0.87931 2.0355,-1.36275 3.2659,-1.36275c1.2303,0 2.3875,0.48344 3.2623,1.35574c0.8714,0.8758 1.3524,2.04237 1.3524,3.28601c0.0035,1.23313 -0.474,2.3997 -1.3489,3.28251z"/>
                    <path id="svg_2" d="m10.028206,3.842239c3.48771,-7.45426 20.19914,0 0,13.85584c-20.19914,-13.85584 -3.48771,-21.87323 0,-13.85584z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" fill="#ec3a34"/>
                    </g>
                </svg>


                </div>
            </div>
        </div>
        <div class="card__button">До кошика</div>
    </div>

</div>


