{% load i18n %}
<section class="container container_top catalog">
    <div class="container__header container__header-mod">
        <h1 class="container__title">{{category.title}}</h1>
    </div>



    <div class="catalog__box">
      <div class="bread-crumbs_wrap">
        <div class="bread-crumbs">
           <a class="bread-crumbs_item" href="/">{% trans "главная" %}</a>
           <a class="bread-crumbs_item " href="{% url 'shop' %}">{% trans "категории" %}</a>
           <span class="bread-crumbs_item bread-crumbs_item-active">{{category.title|lower}}</span>
       </div>
      </div>
        <div class="catalog__servise">
            {% include 'includes/filter.html' %}
            {% include 'includes/sort.html' %}
        </div>
        <div class="catalog__wrap">
        </div>
        {% include 'includes/pagination.html' %}
    </div>
</section>
