{% load i18n %}
<div class="container_top   hero hero_cont">
  <div class="hero__main">
    <div class="hero__section contact-adrees__section">
      <h1 class="hero__section_title">{% trans "Наші контакти" %}</h1>
      <div class="hero__section_text hero__section_text-contacts">
        <p>{{contact_content}}
        </p>
      </div>
      <div class="hero__section_adrees contact-adrees">
        <div class="contact-adrees__item contact-adrees__item-email"><a href="mailto:marketing@tissueclub.com">marketing@tissueclub.com</a></div>
        <div class="contact-adrees__item contact-adrees__item-phone"><a href="tel:+380352434361"> +38 (0352) 43-43-61 </a></div>
        <div class="contact-adrees__item contact-adrees__item-map"><a href="https://goo.gl/maps/brNZAUyL6Jn2X5nB6">{% trans "Бродівська вулиця, 60, Тернопіль, Тернопільська область" %}</a></div>
      </div>
    </div>
    <div class="hero__section">
    </div>
  </div>
  <div class="hero__box">
    <h2 class="hero__box_title">{% trans "Виникли запитання?" %}</h2>
    <p class="hero__box_subtitle">{% trans "Заповніть форму нижче і ми дамо Вам відповідь в найближчий час!" %}</p>
    <form class="hero__form form contact_form" id="contacts_form" action="" method='POST'>
      {% csrf_token %}
      <div class="form__container_box">
        <div class="form__container">
          <div class="form__container_img">
            <object type="image/svg+xml" data="/static/img/svg/email.svg"></object>
          </div>
          <input class="form__container_input input_text email" type="email" name="email" value="" placeholder="E-mail ">
        </div>
      </div>
      <div class="form__container_box">
        <div class="form__container">
          <div class="form__container_img">
            <object type="image/svg+xml" data="/static/img/svg/phone-call.svg"></object>
          </div>
          <input class="form__container_input input_text tel" type="tel" name="tel" value="" placeholder="{% trans 'Номер телефону' %}">
        </div>
      </div>

      <div class="form__container-text">
        <textarea class="form__container_textarea" rows="10" cols="45" name="text"></textarea>
      </div>
      <input type="hidden" name="request_type" value="Замовити дзвінок">
      <input class="form__container_control btn" type="submit" name="button">{% trans "Замовити дзвінок" %}/>
    </form>
  </div>
</div>
<div style="margin-top:150px;"></div>
