{% load i18n %}
<section class=" contact">
    <div class="contact__wrap">
        <div class="contact__group">
            <div class="contact__logo">
                <a href="#">
                    <img  src="/static/img/logo.jpg" alt="">
                </a>
            </div>
            <div class="contact__info">{% trans "Паперові вироби компаніїї Марго - свято для дому в будь-яку пору." %}</div>
        </div>
        <div class="contact__group contact__group-nav">
            <div class="contact__title">{% trans "Навігація" %}</div>
            <div class="contact__box">
                <div class="contact__box_item"><a href="">{% trans "Horeca" %}</a> </div>
                <div class="contact__box_item"><a href="">{% trans "Private Label" %}</a></div>
                <div class="contact__box_item"><a href="">{% trans "Конструктор виробів" %}</a></div>
                <div class="contact__box_item"><a href="">{% trans "Партнерство" %}</a></div>
                <div class="contact__box_item"><a href="">{% trans "Контакти" %}</a> </div>
            </div>

        </div>
        <div class="contact__group">
            <div class="contact__title">{% trans "Контакти" %}</div>
            <div class="contact__box">
                <div class="contact__box_item"><a href="tel:+380352434362">+38 (0352) 43-43-61</a> </div>
                <div class="contact__box_item"><a href="mailto:marketing@margoltd.com">marketing@margoltd.com</a> </div>
                <div class="contact__box_item"><a href="">{% trans "вул. Бродівська 60, м. Тернопіль" %}</a></div>
            </div>

        </div>
        <div class="contact__group">
            <div class="contact__title"><a href="https://starwayua.com/">{% trans "Розробка сайту" %}</a></div>
            <div class="contact__box logo_starway">
                <!-- <div class="contact__box_item"><a href="https://starwayua.com/">StarwayUA</a></div> -->
                <div class="contact__box_item"><a class="logo__link" href="https://starwayua.com/">
                    <img src="/static/img/svg/logo_starway.svg" alt="">
                    </a></div>
            </div>

        </div>
    </div>
</section>
