{% load i18n %}
<div class="    hero">
  <div class="hero__main">
    <div class="hero__section">
      <h1 class="hero__section_title">Horeca</h1>
      <div class="hero__section_text">
        {{horeca_content}}
      </div>
    </div>
    <div class="hero__section">

    </div>
  </div>
  <div class="hero__footer">
    <div class="hero__footer_title">{% trans 'Довірте виготовлення продукції власної торгової марки саме нам!' %}</div>
    <div class="hero__footer_box">
      <div class="hero__footer_item experens"> {% trans 'Асортимент' %}</div>
      <div class="hero__footer_item quality"> {% trans 'Ціни' %}</div>
      <div class="hero__footer_item stability">{% trans 'Доставка' %} </div>
    </div>
  </div>

  <div class="hero__box">
    <img class="hero__form_img" src="/static/img/private_label.png" alt="Private Label">
    <form class="hero__form form" id="hero__form" action="" method="POST">
      {% csrf_token %}
      <div class="form__container_box">
        <div class="form__container">
          <div class="form__container_img">
            <object type="image/svg+xml" data="/static/img/svg/email.svg"></object>
          </div>
          <input class="form__container_input input_text" type="email" name="email" value="" placeholder="E-mail ">
        </div>
      </div>
      <div class="form__container_box">
        <div class="form__container">
          <div class="form__container_img">
            <object type="image/svg+xml" data="/static/img/svg/phone-call.svg"></object>
          </div>
          <input class="form__container_input input_text" type="tel" name="tel" value="" placeholder="Номер телефону">
          <input type="hidden" name='request_type' value="Horeca">
        </div>
      </div>

      <input class="form__container_control btn" type="submit" value="{% trans 'Замовити дзвінок' %}" name="button" />
    </form>
  </div>
</div>
