{% load i18n %}
<section class=" container_top slider">
    <div class="slider__box">
        <div class="slider__wrap">
            <div class="slider" title="{{horeca_slider1_title}}">
                <div class="slider__img">
                    <img class="slider__img" src="/static/img/slide1.jpg" alt="">
                </div>
                <div class="slider__section">
                    <div class="slider__section_title">{{horeca_slider1_title}}</div>
                    <div class="slider__section_subtitle">{{horeca_slider1_content}}</div>
                    <a href="" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>
            <div class="slider" title="{{horeca_slider2_title}}">
                <div class="slider__img">
                    <img class="slider__img" src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">{{horeca_slider2_title}}</div>
                    <div class="slider__section_subtitle">{{horeca_slider2_content}}</div>                
                    <a href="" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>
            <div class="slider" title="{{horeca_slider3_title}}">
                <div class="slider__img">
                    <img class="slider__img" src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">{{horeca_slider3_title}}</div>
                    <div class="slider__section_subtitle">{{horeca_slider3_content}}</div>                
                    <a href="" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>
            <div class="slider" title="{{horeca_slider4_title}}">
                <div class="slider__img">
                    <img class="slider__img" src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">{{horeca_slider4_title}}</div>
                    <div class="slider__section_subtitle">{{horeca_slider4_content}}</div>                
                    <a href="" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>

        </div>
        <div class="slider__pagination">
            <div class="slider__pagination_current">01</div>
            <div class="slider__pagination_centr">/</div>
            <div class="slider__pagination_all">04</div>
        </div>
    </div>

</section>