{% load i18n %}
<section class=" container_top slider">
    <div class="slider__box">
        <div class="slider__wrap">
            <div class="slider" title="{{index_slider1_title}}">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>
                <div class="slider__section">

                    <div class="slider__section_title">{{index_slider1_title}}</div>
                    <div class="slider__section_subtitle">{{index_slider1_content}}</div>
                    <a href="{% url 'horeca' %}" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>
            <div class="slider" title="{{index_slider2_title}}">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">{{index_slider2_title}}</div>
                    <div class="slider__section_subtitle">{{index_slider2_content}}</div>
                    <a href="{% url 'privatelabel' %}" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>
            <div class="slider" title="{{index_slider3_title}}">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">{{index_slider3_title}}</div>
                    <div class="slider__section_subtitle">{{index_slider3_content}}</div>
                    <a href="{% url 'constructor' %}" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>
            <div class="slider" title="{{index_slider4_title}}">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">{{index_slider4_title}}</div>
                    <div class="slider__section_subtitle">{{index_slider4_content}}</div>
                    <a href="{% url 'partnership' %}" class="slider__section_button btn">{% trans "Детальніше" %}</a>
                </div>
            </div>

        </div>
        <div class="slider__pagination">
            <div class="slider__pagination_current" href="#">01</div>
            <div class="slider__pagination_centr">/</div>
            <div class="slider__pagination_all" href="#">04</div>
        </div>
    </div>

</section>