{% load i18n %}
<section class="container  services">
    <div class="container__header">
        <h2 class="container__title">{% trans 'Наші послуги' %}</h2>
    </div>
    <div class="services__wrap">
        <div class="services__group">

            <a href="{% url 'servets_cat' %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  "  >
                        <canvas id="bird" class="check" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Серветки' %}</div>
            </div>
            </a>

            <a href="{% url 'category' paper.slug %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  "  >
                        <canvas id="flower" class="check"  width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Папір' %}</div>
            </div>
            </a>

        </div>
        <div class="services__group">

            <a href="{% url 'category' towel.slug %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  "  >
                        <canvas id="ship" class="check"  width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Рушники' %}</div>
            </div>
            </a>

            <a href="{% url 'category' horeca.slug %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  ">
                        <canvas id="swan" class="check" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Horeca' %}</div>
            </div>
            </a>

        </div>
    </div>
</section>
