{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
    {% if language.code == LANGUAGE_CODE %} 
        <a class="lang__item lang__item-active lang__arrow " href="">{{ language.code }}</a>
    {% endif %}
{% endfor %}
<div class="lang__items">
    {% for language in languages %}
        {% if language.code != LANGUAGE_CODE %}
            <a class="lang__item langitem" href="">{{ language.code }}</a>
        {% endif%}
    {% endfor%}
</div>