{% load  i18n%}
<section class="  map-info contacts__map-info">

    <div class="map-info__wrap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10347.805586492612!2d25.58661339154054!3d49.57980575704869!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb07c64cedd15ffc!2sLtd.%20MARGO%20-%20Margo%20Ltd!5e0!3m2!1sru!2sua!4v1572979304222!5m2!1sru!2sua" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
