<div class="catalog__pagination">
    <div data-href="" class="  page-link">
        <div data-href="" class="link prev catalog__pagination_control catalog__pagination_prev ">
        <div data-href="" class="  arrow_right"></div>
        </div>
    </div>
    <div class="catalog__pagination_items page_range">
        <!-- <div class="link catalog__pagination_item">1</div>
        <div class="link catalog__pagination_item catalog__pagination_item-active">2</div>
        <div class="link catalog__pagination_item">3</div>  -->
    </div>
    <div data-href="" class="  page-link">
        <div data-href="" class="link next catalog__pagination_control catalog__pagination_next ">
        <div data-href="" class="  arrow_left"></div>
        </div>
    </div>
</div>