{% load i18n %}
<div class="container_top   hero">
<div class="hero__main">
    <div class="hero__section">
    <h1 class="hero__section_title">{% trans "Партнерство з нами" %}</h1>
    <div class="hero__section_text">

        {{partnership_content}}
    </div>
    </div>
    <div class="hero__section">
    </div>
</div>
<div class="hero__box">
    <img class="hero__form_img" src="/static/img/private_label.png" alt="Private Label">
    <form class="hero__form form" id="partnershp_form" action="{% url 'user_contact' %}" method='POST'>
    {% csrf_token %}
    <div class="form__container_box">
      <div class="form__container">
          <div class="form__container_img">
          <object type="image/svg+xml" data="/static/img/svg/email.svg"  ></object>
          </div>
          <input class="form__container_input input_text" type="email" name="email" value="" placeholder="E-mail ">
      </div>
    </div>
  <div class="form__container_box">
    <div class="form__container">
        <div class="form__container_img">
        <object type="image/svg+xml" data="/static/img/svg/phone-call.svg"></object>
        </div>
        <input name="request_type" type="hidden" value="Партнерство"/>
        <input class="form__container_input input_text" type="tel" name="tel" value="" placeholder="Номер телефону">
    </div>
  </div>

    <input class="form__container_control btn" type="submit" name="button" value='{% trans "Замовити дзвінок" %}'/>
    </form>
</div>
</div>
