{% load i18n %}
<section class="container  ">
<div class="container__header">
    <h2 class="container__title">Private Label</h2>
</div>

<div class="info-v2__box">
    <div class="info-v2__section">
    <div class="info-v2__section_img">
        <img src="/static/img/private_label.jpg" alt="">
    </div>
    <div class="info-v2__section_text">
        {{privatelabel_content2}}
    </div>
    </div>
    <div class="info-v2__section_button btn">{% trans "Почати співпрацю" %}</div>
</div>
</section>