{% load i18n %}
<section class=" container   product-card__wrap ">
  <div class=" product-card">
    <div class="product-card__section">
      <div class="product-card__description-mobile">
        <h1 class="product-card__section_title">{{item.name}}</h1>
        <div class="product-card__section_subtitle">{% trans "Код товару" %}: {{item.articule}}</div>
      </div>
      <div class="wrapper">
        <div class="Gallery swiper-container">
          <div class="swiper-wrapper">
            {% for image in item.image.all %}
              <div class="swiper-slide swiper-img"><img src="{{image}}" alt="{{image.alt}}" /></div>
            {% endfor %}
          </div>
        </div>
        <div class="Thumbs swiper-container">
          <div class="product-card__pagination product-card__pagination_top">
            <div class="arrow_top"></div>
          </div>
          <div class="swiper-wrapper">
            {% for image in item.image.all %}
              <div class="swiper-slide"><img src="{{image}}" alt="{{image.alt}}" /></div>
            {% endfor %}
          </div>
          <div class="product-card__pagination product-card__pagination_buttoms">
            <div class="arrow_bottom"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card__section">
      <div class="product-card__description">
        <div class="product-card__section_title">{{item.name}}</div>
        <div class="product-card__section_subtitle">{% trans "Код товару" %}: {{item.articul}}</div>
      </div>
      <form data-id="{{item.pk}}" id="product-cart" class="product-card__form" action="" method="post">
        <div class="product-card__characteristics">
          <div class="product-card__characteristics_title">{% trans "Характеристики" %}</div>
          <div class="product-card__characteristics_item">
            <div class="product-card__characteristics_name">{% trans "Кількість в упаковці" %}:</div>
            <div class="product-card__characteristics_value">{{item.amount}}</div>
          </div>
          <div class="product-card__characteristics_item">
            <div class="product-card__characteristics_name">{% trans "Розмір" %}:</div>
            <div class="product-card__characteristics_value">{{item.size.name}}</div>
          </div>
          <div class="product-card__characteristics_item">
            <div class="product-card__characteristics_name">{% trans "Шаровість" %}:</div>
            <div class="product-card__characteristics_value">{{item.layers}}</div>
          </div>
        </div>
        <div class="product-card__servise">
          <div class="product-card__availability">
            {% if  item.available  %}
            <div class="product-card__availability_value">{% trans "Є в наявності" %}</div>
            {% else %}
            <div>{% trans "Немає в наявності" %}</div>
            {% endif %}
          </div>
          <div class="product__price_box  ">
            <div class="product__price_title">{% trans "Вартість" %}:</div>
            <div class="product__price">{{item.price}}</div>
            <div class="product__cur">грн</div>
          </div>



        </div>

        <div class="product-card__button">
          <div class="quantity">
            <div class="quantity__title">{% trans "Кількість" %} </div>
            <div class="product__quantity" data-prise="{{item.price}}">
              <div class="product__group_plus plus-btn">+</div>
              <input class="product__quantity_count product__quantity_count-cadr" data-id="{{item.id}}" type="text" name="quantity" value="1" min="1">
              <div class="product__group_minus minus-btn">-</div>
            </div>
          </div>
          <input type="submit" class="btn_product-add  btn" value="Додати в кошик">
        </div>
      </form>
    </div>
  </div>
</section>
<section class="container ">
  <div class="product__description">
    <div class="product__description_title">{% trans "Опис" %}</div>
    <div class="product__description_text">
      {% if item.description %}
        {{item.description}}
      {% else %}
      {% trans "Гнучкість виробництва фірми дає можливість виконувати об’ємні замовлення для відомих торгових марок в максимальному асортименті і в найкоротші терміни. Асортимент, який компанія «Марго» готова виготовляти під замовлення, складається з 1-о, 2- і 3-шарових серветок з малюнком і різноманітних відтінків. Додатково потужності виробництва дозволяють забезпечувати замовників продукції ВТМ такими товарами як туалетний папір 2 і 3-шаровий, паперові рушники, рушники диспенсерні Z-складання. Компанія Марго являється лідером з найбільшим досвідом по виготовленню серветок високої якості для замовників приватних торгових марок. Наш багаторічний досвід стабільної роботи з найбільшими національними мережами України є запорукою стабільної співпраці з Вами." %}
      {% endif %}
    </div>
  </div>
</section>
