<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>

<script src="/static/js/lib/validation.min.js" type="text/javascript"></script>

<script src="/static/js/maskinput.js" type="text/javascript"></script>
<script src="/static/js/modaal.min.js" type="text/javascript"></script>
<script src="/static/js/slick.min.js" type="text/javascript"></script>
<script src="/static/js/swiper.min.js" type="text/javascript"></script>
<script src="/static/js/intersection-observer-polyfill.js" type="text/javascript"></script>
<script src="/static/js/lib/wow.min.js" type="text/javascript"></script>

<script src="/static/js/main.js" type="text/javascript"></script>
<script src="/static/global.js"></script>
<script src="/static/js/form_ajax.js"></script>

<!-- <script src="js/blazy.js" type="text/javascript"></script> -->
<!-- <script src="js/TweenMax.min.js" type="text/javascript"></script> -->
<!-- <script src="js/jquery.fancybox.min.js" type="text/javascript"></script>  -->
