{% load i18n %}
<section class="container container_top categories">
<div class="container__header  container__header-mod">
    <h1 class="container__title">{% trans "категорії" %}</h1>
</div>
<div class="bread-crumbs_wrap">
  <div class="bread-crumbs">
     <a class="bread-crumbs_item" href="/">{% trans "главная" %}</a>
     <a class="bread-crumbs_item " href="{% url 'shop' %}">{% trans "категории" %}</a>
     <span class="bread-crumbs_item bread-crumbs_item-active">{% trans "cерветки" %}</span>
 </div>
</div>
<div class="categories__wrap">

    {% for category in servets_categories %}
    <div class="categories__item">
        <a class="" href="{% url 'category' category.slug %}">
            <div class="categories__item_img">
                <img class="" src="{{category.image.url}}" alt="">
            </div>
            <div class="categories__item_title">{{category.title}}</div>
        </a>
    </div>
    {% endfor %}
</div>
</section>
