{% load i18n %}
<section class="container ">
    <div class="product__description">
        <div class="product__description_title">{% trans "Схожі товари" %}</div>
        <div class="product_comra">
            <!-- {% include 'includes/catalog_item_card.html' %}
            {% include 'includes/catalog_item_card.html' %}
            {% include 'includes/catalog_item_card.html' %}
            {% include 'includes/catalog_item_card.html' %} -->
        </div>
    </div>
</section>