<textarea class="chat" cols="100" rows="20"></textarea><br>
<input class="input" type="text"><br>
<input class="submit" type="submit">
<script>
var room = "{{room}}"
var chat   = document.querySelector('.chat')
var input  = document.querySelector('.input')
var submit = document.querySelector('.submit')
var url    = `ws://${window.location.host}/ws/chat/${room}/`
var socket = new WebSocket(url)
function message(event){
    console.log(event)
    message = JSON.parse(event['data'])['message']
    channel_name = JSON.parse(event['data'])['channel_name']
    chat.value += `${channel_name}:    ${message}\n`
}
function send(event){
    console.log(event)
    socket.send(JSON.stringify({
        'message': input.value
    }))
    input.value = '';
}
socket.addEventListener('message', message)
submit.addEventListener('click', send)
</script>




