{% extends 'main.html' %}

{% block content %}
	<h1>Create a New Blog Post</h1>
	<form method="POST" action="." enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="submit">
	</form>
{% endblock content %}