{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 class="text-center">
Новые поступления
</h1>
{% for product_image in products_images %}
{% include 'product_item.html' %}
{% endfor %}
<h1 class="text-center">
Телефоны
</h1>
{% for product_image in products_images_phones %}
{% include 'product_item.html' %}
{% endfor %}
<h1 class="text-center">
Ноутбуки
</h1>
{% for product_image in products_images_laptops %}
{% include 'product_item.html' %}
{% endfor %}
{% endblock %}
</div>