<nav class="navbar navbar-default navbar-main">
<div class="container">
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="/">Home</a></li>
<li><a href="/landing123">Landing</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li>

<div class="basket-container">
  Корзина 
  <span id="basket_total_nmb">
    {% if products_total_nmb %}
      ({{ products_total_nmb }})
    {% else %}
      (0)
    {% endif %}
  </span>

  <div class="basket-items hidden">
  <ul>
    {% for product_in_basket in products_in_basket %}
    <li>
      {{product_in_basket.pk}} <br/>
      {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт.
      по {{ product_in_basket.price_per_item }} грн.
      <form 
        method='POST' 
        action="{% url 'cart_adding' product_id=product_in_basket.pk %}">
      {% csrf_token %}
      <button
        type="submit"
        class="delete-item" 
        name='is_delete'
        value='true'
        data-product_id="{{ product_in_basket.pk }}"
      >x
      </button>
      </form>
    </li>
    {% endfor %}
    <li>
      <a href="{% url 'checkout'%}">Оформить заказ</a>
    </li>
  </ul>
  </div>
  
</div>
  
</li>
</ul>
</div>
</div>
</nav>