  <div>
    <a href="{% url 'product' product_id=product_image.product.id %}">
      <img src="{{ product_image.image.url }}" class="img-responsive">
    </a>
  </div>
  {% if product_image.product.discount %}
  <div class="container">
    <span>Discount: {{ product_image.product.discount }}%</span>
  </div>
  {% endif %}
  <h4>{{ product_image.product.name }}</h4>
  <p>
    {{ product_image.product.description|truncatechars_html:70 }}
  </p>
  <div>
    {{ product_image.product.price }} UAH
  </div>

