{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for image_item in product.productimage_set.all %}
  <img src="{{ image_item.image.url }}" class="img-responsive">
{% endfor %}
Name: {{ product.name }} <br/>
Price: {{ product.price }} <br/>
Description: {{ product.description }}
<form 
  id="form_buying_product"
  action="{% url 'cart_adding' product.id %}"
  method='POST'
>{% csrf_token %}
  <input type="number" 
    id="nmb"
    name="nmb"
  />
  <button type="submit" 
    id="submit_btn" 
    data-product_id="{{ product.id }}"
  >
    Купить
  </button>
</form>

{% endblock %}