// main: style.sass

$roboto-font-path: "../font";

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-Black.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-Black.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-Black.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 900;
    font-style: normal;
}

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-Heavy.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-Heavy.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-Heavy.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 800;
    font-style: normal;
}

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-Bold.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-Bold.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-Medium.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-Medium.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 500;
    font-style: normal;
}

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-Roman.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-Roman.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-Light.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-Light.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 200;
    font-style: normal;
}

@font-face {
    src: url($roboto-font-path + "/HelveticaNeueCyr-UltraLight.eot") format("eot"),
         url($roboto-font-path + "/HelveticaNeueCyr-UltraLight.woff") format("woff"),
         url($roboto-font-path + "/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
    font-family: "HelveticaNeueCyr";
    font-weight: 100;
    font-style: normal;
}



// @mixin  rob_normal {
//   font-family: 'Roboto', sans-serif;
//   font-style: normal;
//   font-weight: normal;
// }
// @mixin  rob_italic_n {
//   font-family: 'Roboto', sans-serif;
//   font-style: italic;
//   font-weight: normal;
// }
// @mixin  Montserrat_n_b {
//   font-family: 'Montserrat', sans-serif;
//   font-style: normal;
//   font-weight: bold;
// }
// @mixin  Montserrat_n_black {
//   font-family: 'Montserrat', sans-serif;
//   font-style: normal;
//   font-weight: 900;
// }
// @mixin  Montserrat_n_normal {
//   font-family: 'Montserrat', sans-serif;
//   font-style: normal;
//   font-weight: 500;
// }
