// main: style.sass
*
  box-sizing: border-box
  color: #fff

.bread-crumbs

  display: flex
  flex-direction: row
  &__wrap
    max-width: 1300px
    margin: 40px auto 0
  &_wrap
    margin: 30px 40px
  &_item
    margin: 0
    padding: 0
    transition: .7s
    &::after
      content: '/'
      padding: 0 5px
    &:hover
      color: #EC3A34
      transition: .3s
  &_item:last-child
    cursor: default
    &:hover
      color: #fff
    &::after
      content: ''
  &_item
    &-active
      // color: #EC3A34
      cursor: default

@media only screen and (max-width : 992px)
  .bread-crumbs
    display: flex
    flex-direction: row
    flex-wrap: wrap
    &_wrap
      margin: 30px 20px


.contact__logo a img
  width: 105px


body
  background: #131313

.container, .hero__main
  margin: 0 2%


.container_top
  margin-top: 90px !important
.container
  padding:  30px 0
  &__title
    text-align: center,
  &__header
    display: flex
    font-size: 20px
    letter-spacing: 0.1em
    text-transform: uppercase
    justify-content: center
    align-items: center
    margin-bottom: 55px
    &-mod
      margin-bottom: 0px

  &__title
    &::after
      content: ''
      display: block
      width: 71px
      height: 2px
      background: #EC3A34
      margin: 12px auto

.btn
  padding: 13px 0
  background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%)
  box-shadow: inset 0px -1px 0px rgba(0,0,0,0.35)
  border-radius: 3px
  text-align: center
  display: block
  cursor: pointer
  width: 200px
  border: none
  transition: .3s
  &:hover
    transition: .3s
    transform: scale(0.96)
  &-margin
    margin: 20px 0

.error__box
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  width: 100%
  &_img
    width: 70%
    & img
      width: 100%
.error__body
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

.logo_starway
  align-items: center
  height: 100%
  justify-content: space-evenly
  & .contact__box_item
    width: 120px

@media only screen and (min-width : 1200px)
  .error__box
    &_img
      width: 50%

@media only screen and (min-width : 1400px)
  .container, .hero
    margin: 40px auto
    max-width: 1300px



@media only screen and (max-width : 768px)
  .input_text
    padding: 5px 10px !important

  .bread-crumbs
    width: 90%
    margin: 0 auto
