// main: style.sass





.hidde
  display: none

.button-o
  background-color: #F49823
  border-radius: 5px
  text-transform: uppercase
  padding: 17px 22px
  border: none
  width: 100%
  +rob_normal
  font-size: 15px
  line-height: 18px
  text-align: center
  letter-spacing: 0.15em
  color: #FFFFFF
  &:hover
    transition: 0.3s
    background: #DD891E

.button
  border: none
  padding: 25px 45px
  text-transform: uppercase
  color: #f1f1f1

.label
  +rob_italic_n
  color: #87919E
  font-size: 15px
  line-height: 18px

.wpcf7-form-control-wrap .input
  height: 50px
  border: none
  border-bottom: 1px solid #C4C4C4
  margin-right: 40px
  &:focus,&_valid
    border: none
    border-bottom: 1px solid #F49823
    font-size: 18px
    line-height: 21px
    color: #0D0D0D
    + label.form__label
      font-size: 10px
      line-height: 12px
      margin-bottom: 45px


.title
  &_text
    +Montserrat_n_black
    font-size: 40px
    line-height: 43px
    text-transform: uppercase
    display: flex
    align-items: center
    color: #0B1421
  &_line
    width: 78px
    height: 3px
    display: block
    margin: 5px 0
    background: #F49823

body .table_block
  display: none
.table_block button.fancybox-button.fancybox-close-small
  display: none

.table
  +rob_normal

  margin-bottom: 12px
  &_block
    padding: 0 !important
    border-radius: 5px
    border: 2px solid #F49823 !important
    //table scrol start
  &__box::-webkit-scrollbar
    height: 5px
    background-color: #ECF1F8
    border-radius: 10px
    padding: 10px
    margin: 10px
  &__box::-webkit-scrollbar-thumb
    background-color: #F49823
    border-radius: 10px
    width: 30%
    padding: 10px
    margin: 10px
    // table scrol end

  &__toggle
    width: 28px
    height: 28px
    display: block
    border: none
    padding: 0
    background: initial
    margin-left: 10px
    position: absolute
    z-index: 5
    top: 15px
    left: 25px
    &_line
      width: 27px
      display: block
      height: 3px
      background: #fff
      transform: rotate(-45deg)
      margin: -3px
      border-radius: 25px
      &:first-child
        transform: rotate(45deg)
        margin-top: -2px

  &__toggle_one
    top: 5px
  &__box
    overflow: auto
  &_name
    position: sticky
    left: 0
    background: #ffffff
  &__footer
    +rob_normal
    font-size: 10px
    line-height: 12px
    background: #F49823
    padding: 16px 13px
    color: #fff
    margin-top: 10px
  &__thead
    background: #F49823
    font-weight: bold
    color: #fff
    padding: 25px 20px
    text-align: center
    & tr
      & th
        vertical-align: middle
        padding: 25px 20px
        &:first-child
          background: #F49823
  &__body
    background: #fff
    & tr
      & td
        text-align: center
        font-size: 21px
        line-height: 21px
        padding: 15px
        vertical-align: middle

  &__row
    border-bottom: 1px solid #ECF1F8
    &:hover
      background: #ECF1F8
      & .table_name
        background: #ECF1F8
  &_name
    +rob_normal
    font-size: 18px
    line-height: 19px
    text-align: left
    vertical-align: middle

  &_desctiption td
    font-size: 16px
    line-height: 20px
    background: #F49823
    color: #FFFFFF
    padding: 27px 20px
  &-hover
      background: #ECF1F8






@media only screen and (min-width : 319px)
  .button-o
    border-radius: 5px
    font-size: 11px
    line-height: 12px
    padding: 14px 10px

  .button
    border: none
    padding: 25px 45px
    text-transform: uppercase
    color: #f1f1f1

  .label
    font-size: 15px

  .span input
    &:focus,&_valid
      font-size: 15px
      line-height: 15px
      + .form__label
        font-size: 10px
        line-height: 12px
  .title
    &_text
      font-size: 18px
      line-height: 22px
    &_line


  .table
    width: 100%

    &__thead
      font-size: 13px
      & tr
        & th
          padding: 15px 5px

    &__body
      & tr
        & td
          font-size: 15px
          line-height: 15px
          padding: 10px



        & td
          padding: 2px 10px
      & .table__row-group
        & td
          padding-top: 10px
    &_name
      font-size: 13px !important
      line-height: 15px !important
      text-align: left !important
      min-width: 12em
      max-width: 12em
    &_desctiption td
      font-size: 14px
      line-height: 16px


  .fancybox-slide--html
      padding: 6px

@media only screen and (min-width : 826px)
  .table_block
    max-width: 814px

@media only screen and (min-width:1060px)

  .table
    margin-bottom: 0
    &_block
      background: initial
      border: none !important
      border-radius: unset
      &_one
        margin-left: 22px
        max-width: 870px
        width: 870px
      &_two
        margin-left: 27px
        width: 1045px
        max-width: 1045px
    &_wrap
      background: #fff
      border-radius: 5px
      border: 2px solid #F49823
      &_one
        width: 817px
      &_two
        width: 990px
    &__toggle
      left: unset
      right: 5px
      &_one
        top: 12px

    &__thead
      font-size: 13px
      & tr
        & th
          padding: 15px 5px
          font-size: 17px
          line-height: 19px

    &__footer
      margin-top: 0
      font-size: 14px
      line-height: 16px

    &_name
      font-size: 16px !important
      line-height: 17px !important
      text-align: left !important
      min-width: 12em
      max-width: 12em
    &__body
      & tr
        & td
          font-size: 18px
          line-height: 19px
          padding: 6px 10px
          // min-width: 7em

      & .table_h, & .table__row-hiden, & .table__row-hiden-one,& .table__row-min
        & td
          padding: 0px 10px
          font-size: 14px
        & .table_name
          font-size: 14px !important
      & .table__row-group
        & td
          padding-top: 10px

  .table__row-hiden td
    font-size: 14px





@media only screen and (min-width:1200px)
  .button-o
    font-size: 16px
    line-height: 18px
    padding: 17px 15px

  .button
    border: none
    padding: 25px 45px
    text-transform: uppercase
    color: #f1f1f1

  .label
    font-size: 19px

  .input
    &:focus,&_valid
      font-size: 18px
      line-height: 19px
      + .form__label
        font-size: 12px
        line-height: 12px
  .title
    &_text
      font-size: 40px
      line-height: 43px
    &_line

  .title
    &_text
      font-size: 18px
      line-height: 22px
    &_line



@media only screen and (min-width:1400px)
  .button-o
    font-size: 18px
    line-height: 18px
    padding: 17px 15px

  .button
    border: none
    padding: 25px 45px
    text-transform: uppercase
    color: #f1f1f1

  .label
    font-size: 21px

  .input
    &:focus,&_valid
      font-size: 21px
      line-height: 21px
      + .form__label
        font-size: 15px
        line-height: 12px
  .title
    &_text
      font-size: 40px
      line-height: 43px
    &_line

  .table

    &__thead
      font-size: 18px
    &__body
      & tr
        & td
          font-size: 18px
          line-height: 18px
          padding: 10px
    &_name
      font-size: 18px
      line-height: 18px
      text-align: left
    &_desctiption td
      font-size: 20px
      line-height: 20px
@media only screen and (min-width:1660px)
  .button-o
    font-size: 20px
    line-height: 22px
    padding: 22px 30px

  .button
    border: none
    padding: 25px 45px
    text-transform: uppercase
    color: #f1f1f1

  .label
    font-size: 21px

  .input
    &:focus,&_valid
      font-size: 21px
      line-height: 21px
      + .form__label
        font-size: 15px
        line-height: 12px
  .title
    &_text
      font-size: 40px
      line-height: 43px
    &_line

  .table
    &_block
      &_one
        margin-left: 60px
        max-width: 9860px
        width: 986px
      &_two
        margin-left: 60px
        width: 1228px
        max-width: 1228px
    &_wrap
      background: #fff
      border-radius: 5px
      border: 2px solid #F49823
      &_one
        width: 865px
      &_two
        width: 1110px
    &__toggle
      left: unset
      right: 5px
      &_one
        top: 12px
    &__body
      & tr
        & td
          font-size: 20px
          line-height: 20px
    &_name
      font-size: 20px !important
      line-height: 20px !important
      text-align: left !important
    &_desctiption td
      font-size: 20px
      line-height: 24px

@media only screen and (min-width:1800px)
  .button-o
    font-size: 20px
    line-height: 22px
    padding: 22px 30px

  .button
    border: none
    padding: 25px 45px
    text-transform: uppercase
    color: #f1f1f1

  .label
    font-size: 23px

  .input
    &:focus,&_valid
      font-size: 23px
      line-height: 23px
      + .form__label
        font-size: 15px
        line-height: 12px
  .title
    &_text
      font-size: 40px
      line-height: 43px
    &_line

  .table

    &__body
      & tr
        & td
          font-size: 20px
          line-height: 20px
    &_name
      font-size: 20px !important
      line-height: 20px !important
      text-align: left !important
    &_desctiption td
      font-size: 20px
      line-height: 24px



@media screen and (max-width: 1200px)
  head
    min-width: 320px; /* Какое-то начальное значение */


@media screen and (min-width: 902px)
  head
    min-width: 902px; /* Какое-то начальное значение */
