{% extends 'djlessons_mp/index.html' %}
{% block content %}
    <div class="container">
        <h2>Статьи из категории:{{category.name}}</h2><br>
        <hr>
        <div class="row">
            {% for article in articles_from_category%}
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <img src="{{article.image.url}}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center">{{article.title}}</h2>
                        <p>{{article.content|truncatewords:15}}</p>
                        <a href="{{article.get_absolute_url}}"><button type="button" name="button" class="btn btn-primary">Читать</button></a>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
