{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Filter Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'template.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
      body {
        margin-top: 5rem;
      }

      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Bootstrap</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">React</a>
              </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container" >

      <h3>Filter Journals</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input 

                      name="title_contains" 

                      type="search" 
                      class="form-control py-2 border-right-0 border" 
                      placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input 

                      name="id_exact" 

                      class="form-control py-2 border-right-0 border" 
                      type="search" 
                      placeholder="ID exact..." 
                    />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input 

                      name="title_or_author" 
                      
                      class="form-control py-2 border-right-0 border" 
                      type="search" 
                      placeholder="Title or author..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum View Count</label>
            <input 

              name="view_count_min"

              type="number" 
              min=0 
              class="form-control" 
              id="viewCountMin" 
              placeholder="0" 
            >
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum View Count</label>
            <input 

              name="view_count_max"

              type="number" min=0 class="form-control" 
              id="viewCountMax" 
              placeholder="10000?" 
            >
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input 

              name="date_min"

              type="date" 
              class="form-control" 
              id="publishDateMin" 
            >
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input 

              name="date_max"

              type="date" class="form-control" 
              id="publishDateMax" 
            >
          </div>
          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select 

              name="category"
              
              id="category" 
              class="form-control" 
            >
              <option selected>Choose...</option>

              {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}

            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input 

              name="reviewed"

              class="form-check-input" 
              type="checkbox" 
              id="reviewed" 
            >
            <label class="form-check-label" for="reviewed">
              Reviewed
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input 

              name="not_reviewed"

              id="not_reviewed" 
              class="form-check-input" 
              type="checkbox" 
            >
            <label class="form-check-label" for="not_reviewed">
              Not reviewed
            </label>
          </div>
        </div>
        <button 
          type="submit" 
          class="btn btn-primary"
        >Search</button>
      </form>

      <hr />

      <div class="row">
        <ul>
          {% for journal in queryset %}
            <li>
              {{ journal.title }}
              <span>Author: {{ journal.author.name }}</span>
              <span>
                {% for cat in journal.categories.all %}
                  {{ cat }}
                {% endfor %}
              </span>
              <span>Publish date: {{ journal.publish_date }}</span>
              <span>View count: {{ journal.views }}</span>
              <span>Reviewed: {{ journal.reviewed }}</span>
            </li>
            <hr />
          {% endfor %}
        </ul>
      </div>

    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>