{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<section class="container_top">
  <div class="auth__page" id="auth">
    <div class="auth__wrap">
      <form class="form auth_form login-form form-active" method="post" action="{% url 'account_signup' %}" novalidate="" target="" data-form="">
        {% csrf_token %}
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <h2>{% trans "Sign Up" %}</h2>
        {{ form|crispy }}
        <div class="form-group">
          <p>{% trans "Забули пароль?" %}
          </p>
          <p></p>
            <a class="" href="{% url 'account_reset_password' %}">{% trans "Відновити пароль" %}</a>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <div class="form-group form-group-btn">
          <input type="submit" value='{% trans "Sign In" %}' class="btn btn-primary">
        </div> 
      </form>
    </div>
  </div>
</section>   
{%endblock content%}






