// main: ../style.sass


#div_id_remember.form-check{
  display: none;
}
.auth{
  display: none;
  &__wrap{
    padding: 5%;
    max-width: 500px;
    .form{
      display: none;
      & h2{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        margin: 0 0 20px 0;
        font-weight: 300;

      }
      &-group{
        & label{
          display: none;
        }
        margin-bottom: 30px;
        & p {
          font-size: 14px;
          color: #9f9f9f;
          font-weight: 300;
          & a {
           padding: 0 5px;
           display: inline-block;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &-btn{
          margin-bottom: 10px;
          & input{
            &:hover{
              background: rgba(254,58,52,0.8);
              transition: 0s;
              transform: scale(1);
            }
            &:focus{
              transform: scale(0.95);
            }
          }

        }
      }
      &-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        font-weight: 400;
        height: 50px;
        padding-left: 20px;
        padding-right: 0px;
        border: none;
        // border-bottom: 1px solid rgba(236,58,52,0.5);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 3px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 16px;
        color: #5a5353;
      }
      &-active{
        display: block;
      }
    &  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
  }
    }
  }
}



@media only screen and (max-width : 768px){
.auth__wrap{
  margin: 0 4%;
}

}
