// main: ../style.sass


.services{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 96%;
  &__group {
      display: flex;
      width: 50%;
      flex-direction: row;
      justify-content: space-around;
  }
  &__wrap{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  &__item{
    &:hover{
      cursor: pointer;
      & .services__item_img{
        background: #fa4d47;
        transition: .5s;

      }
      & .services__item_title{
        color:  #fa4d47;
        transition: .5s;
      }
    }
    &_img{
      background: #202020;
      width: 230px;
      height: 230px;
      border-radius: 50%;
      position: relative;

      &:after{
        content:"\2022";
        color: #f4453f;
        font-size: 22px;
        background: #131313;
        padding: 10px;
        border-radius: 50%;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
      }
    }
    &_title{
      font-family: HelveticaNeueCyr;
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      margin:  30px 0 0;


    }


  }
  &__animation{
    border-radius: 50%;
  }
  &__img{
    position: relative;
    &_bacgraung{
      width: 100%;
      display: block;
    }
    &_bacgraung-a{
      // display: none;
      width: 100%;
     height: auto;
     position: absolute;
     left: 0px;
     top: 0px;
     border-radius: 50%;

    }
    & canvas{
      width: 100%;
      height: auto;
      position: absolute;
      left: 0px;
      top: 0px;
      border-radius: 50%;
      opacity:1;
      // transition: opacity .7s ease-in-out 1s;

    }
  }
  &__animation{
    & .services__img_bacgraung-a{
      // display: block;
      // width: 100%;
      // height: auto;
      // position: absolute;
      // left: 0px;
      // top: 0px;
      // border-radius: 50%;
    }
    & .services__img_bacgraung{
      display: none;

    }
    & canvas{
      // opacity: 1;
      // transition:.1s;
    }
  }
}

@media only screen and (max-width : 992px){

  .services{
    &__group {
        flex-direction: column;
    }
    &__item{
      margin: 20px 0;
      &_img{
        width: 280px;
        height: 280px;
        margin: 0 auto;
      }
    }
  }
}
@media only screen and (max-width : 768px){

  .services{

    &__item{
      margin: 20px 0;
      &_img{
        width: 220px;
        height: 220px;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width : 480px){

  .services{

    &__item{
      margin: 20px 0;
      &_img{
        width: 160px;
        height: 160px;
        margin: 0 auto;
      }
      &_title{
        font-size: 16px;



      }
    }
  }
}
@media only screen and (max-width : 370px){

  .services{
    &__wrap{
      flex-direction: column;
      align-items:center;
    }
    &__group {
        width: 100%
    }

    &__item{
      margin: 20px 0;
      &_img{
        width: 190px;
        height: 190px;
        margin: 0 auto;
      }
      &_title{
        font-size: 16px;



      }
    }
  }
}
