{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <button id="btn">Submit</button>

  <div id="ourcontainer"></div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>

  <script charset="utf-8" type="text/javascript">
    
    var url = 'http://localhost:8000/api'

    $.ajax({
      method: 'GET',
      url: url,   
      success: function (data) {
        console.log(data);
        console.log("success");
      },
      error: function (error_data) {
        console.log('error');
      },
    });  

    var container = document.getElementById('ourcontainer');
    function renderHTML(data) {
      var container = document.getElementById('ourcontainer');
      var htmlString = "";
      console.log('data: ',data)
      for(let i = 0; i < data.results.length; i++){
        console.log('i: ',i)
        htmlString += "<p>this items primary key is " + data.results[i].pk + "</p>";
      }
      // container.insertAdjacentHTML('beforeend', htmlString);
      container.innerHTML = htmlString; 
    }

    document.getElementById('btn').addEventListener('click', function(){
      var request = new XMLHttpRequest();
      request.open("GET", url);
      request.onload = function(){
        var data = JSON.parse(request.responseText);
        renderHTML(data); 
      };
      request.send();
    });  

  </script>
</body>
</html>