{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        {% render_block "css" %}
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
        </div>
        {% block content %}{% endblock content %}
        {% static_placeholder "footer" %}
        {% render_block "js" %}
    </body>
</html>
