<div class="navbar">
  <a href="{% url 'index' %}">Main Page</a>
  <a href="{% url 'pizza_auth_app:login' %}">Login</a>
  <a href="{% url 'pizza_auth_app:register' %}">Register</a>
  {% if user.is_authenticated %}
  <a href="{% url 'pizza_auth_app:logout' %}">Logout</a>
  {%endif%}
</div>