{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administrations') }}sf
            <img src="{% static 'cover.jpg' %}" height="40px" />
            <a href="{% url 'admin:index' %}">
                    <img src="{% static 'umsra_logo.png' %}" height="40px" />
                </a>
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
