// main: ../style.sass

.select {
  &__size {
    z-index: 10;
    min-width: 130px;
  }

  &__view {
    min-width: 90px;
  }

  &_title {
    margin: 10px 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }

  &__group {
    position: relative;
  }

  &__items {
    position: relative;
    background: #202020;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    visibility: visible;
    transition: visibility 0.45s ,transform 0.7s;
    transform: translateY(-250px);
    z-index: -1;

    &_wrap {
      top: 36px;
      z-index: 6;
      position: absolute;
      width: 100%;
      max-height: 0;
      overflow: hidden;

      &-active {
        max-height: max-content;
      }
    }

    &::after,
    &::before {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      border: 0.5px solid transparent;
      width: 0;
      height: 0;
      border-radius: 3px;
      z-index: 1;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &-active {
      position: relative;
      background: #202020;
      box-sizing: border-box;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 100%;
      visibility: visible;
      transition: visibility 0.45s ,transform 0.7s;
      transform: translateY(-1px);
      z-index: -1;

      &::after,
      &::before {
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      &::before {
        border-top-color: transparent;
        border-right-color: #EC3A34;
        border-top-left-radius: 0;
        @include transition(height 0.1s ease-out 0.05s);
      }

      &::after {
        border-bottom-color: #EC3A34;
        border-left-color: #EC3A34;
        border-top-left-radius: 0;
        @include transition(width 0.1s ease-out 0.15s, height 0.1s ease-out 0.25s);
      }
    }
  }

  &__item,
  &__item-line {
    padding: 10px 15px;
    cursor: pointer;
    z-index: 5;
    position: relative;

    &:hover {
      background: #FE524C;
    }

    &-active {
      background: none !important;
      cursor: default !important;
      background: #FE524C !important;
    }
  }

  &_value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #202020;
    border-radius: 3px;
    z-index: 5;

    &::after,
    &::before {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      border: 0.5px solid transparent;
      width: 0;
      height: 0;
      border-radius: 3px;
      z-index: 1;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover {
      @include transition("color 0.25s");
    }

    &:hover::after,
    &:hover::before {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-top-color: #EC3A34;
      border-right-color: #EC3A34;
      @include transition(width 0.05s ease-out,height 0.05s ease-out 0.05s);
    }

    &:hover::after {
      border-bottom-color: #EC3A34;
      border-left-color: #EC3A34;
      @include transition(width 0.05s ease-out 0.1s, height 0.05s ease-out 0.15s);
    }

    &-active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &::after,
      &::before {
        width: 100%;
        height: 100%;
      }

      &::before {
        border-top-color: #EC3A34;
        border-right-color: #EC3A34;
        @include transition(width 0.05s ease-out,height 0.05s ease-out 0.05s);
      }

      &::after {
        // border-bottom-color:  #EC3A34;
        border-left-color: #EC3A34;
        border-bottom-left-radius: 0;
        @include transition(width 0.05s ease-out 0.1s, height 0.05s ease-out 0.15s);
      }

      &:hover::after {
        border-bottom-color: transparent;
        border-left-color: #EC3A34;
        @include transition(width 0.05s ease-out 0.1s, height 0.05s ease-out 0.15s);
      }

      .select_value_control {
        border-bottom-right-radius: 0;
      }
    }

    &_name {
      margin: 0 15px;
    }

    &_control {
      cursor: pointer;
      height: 37px;
      width: 37px;
      background: #FE524C;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
    }
  }

  &__value {
    &-active {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #202020;
      border-radius: 3px;
      z-index: 5;

      &::after,
      &::before {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        border: 0.5px solid transparent;
        width: 0;
        height: 0;
        border-radius: 3px;
        z-index: 1;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
        border-bottom-left-radius: 0;
      }

      &:after,
      &:before {
        width: 100%;
        height: 100%;
      }

      &:before {
        border-top-color: #EC3A34;
        border-right-color: #EC3A34;
        @include transition(width 0.05s ease-out,height 0.05s ease-out 0.05s);
      }

      &:after {
        border-bottom-color: #EC3A34;
        border-left-color: #EC3A34;
        @include transition(width 0.05s ease-out 0.1s, height 0.05s ease-out 0.15s);
      }
    }
  }

  &__sort {
    min-width: 215px;
  }
}
@media only screen and (max-width : 1005px) {
  .select {
    &__sort {
      min-width: 200px;
    }

    &__items {
      &-active {
        visibility: visible;
        top: 29px;
        z-index: 6;
      }
    }

    &_title {
      font-size: 15px;
    }

    &_value {
      &_name {
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-width : 992px) {
  .select__box {
    margin: 0 10px;
  }

  .select__items-active {
    top: 0;
  }
}
@media only screen and (max-width : 768px) {
  .select {
    &_title {
      margin: 10px;
      font-size: 14px;
    }

    &_value {
      &_name {
        padding: 0 5px;
      }

      &_control {
        width: 30px;
        height: 30px;
      }
    }

    &__size {
      min-width: 77px;
    }

    &__item {
      padding: 8px 15px;
    }
  }

  .select__items_wrap {
    top: 29px;
        z-index: 6;
  }
}
@media only screen and (max-width : 505px) {
  .catalog {
    &__filter {
      &_box {
        display: flex;
        flex-direction: column;

        &-active {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .select {
    &__sort {
      min-width: 170px;

      &_box {
        .select_value {
          flex-direction: row-reverse;
          background: none;

          &:hover {
            background: #202020;
          }

          .select_value_control {
            background: none;

            .arrow_bottom {
              display: none;
            }

            .select__control_img {
              content: '';
              background-image: url("../img/svg/descendant.svg");
              height: 17px;
              width: 17px;
              display: block;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }

          &-active {
            background: #202020;
          }
        }

        .select__box {
          .select_title {
            display: none;
          }
        }
      }
    }

    &__group {
      font-size: 12px;
      min-width: 100px;
    }
  }
}
