{% load static %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
</head>
<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Django Shop</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if not request.get_full_path == '/ecomapp/base/' %}
					<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			          	{% for category in categories %}
			            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
			            {% endfor %}
			          </ul>
					</li>
				{% endif %}
					{% if not request.user.is_authenticated %}
					<li>
					<p class='navbar-text'>Здравствуйте, гость!</p>
					</li>
					<li>
						<a href='{% url "loginn" %}'>Войти</a>
					</li>
					<li>
						<a href='{% url "registration" %}'>Регистрация</a>
					</li>
                    {% else %}
					<li>
					<p class='navbar-text'>Здравствуйте, {{ request.user }} </p>
					</li>
					<li>
						<a href='{% url "account" %}'>Личный кабинет</a>
					</li>
					<li>
						<a href='{% url "logout" %}'>Выйти</a>
					</li>
                    <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Уведомления {% live_notify_badge badge_class="badge" %}</a>
                      <ul class="dropdown-menu" id="notifications-list">
                          {% live_notify_list %}
                      </ul>
					</li>
					{% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li><a href='{% url "cart" %}'>Корзина <span class='badge' id='cart_count'>{% if not request.session.total %} 0 {% else %} {{ request.session.total }} {% endif %}</span></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
    	{% block content %}
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Категории</p>
                <div class="list-group">
                	{% for category in categories %}
                    <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }}</a>
                	{% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                            	{% for product in products %}
                            		{% if forloop.first %}
		                                <div class="item active">
		                                    <img class="slide-image" src="{{ product.image.url }}" alt="" style='padding-left: 270px; height: 300px;'>
		                                    <br>
		                                    <p class='text-center'><a href='{{ product.get_absolute_url }}'><button class='btn btn-primary'>{{ product.title }}</button></a></p>
		                                </div>
		                            {% else %}
		                                <div class="item">
		                                    <img class="slide-image" src="{{ product.image.url }}" alt="" style='padding-left: 270px; height: 300px;'>
		                                    <br>
		                             		<p class="text-center"><a href='{{ product.get_absolute_url }}'><button class='btn btn-primary'>{{ product.title }}</button></a></p>
		                                </div>
		                            {% endif %}
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style='background: transparent;'>
                                <span class="glyphicon glyphicon-chevron-left" style='color:black;'></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style='background: transparent;'>
                                <span class="glyphicon glyphicon-chevron-right" style='color:black;'></span>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                	{% for product in products %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail" style='height: 410px; position: relative;'>
                            <img src="{{ product.image.url }}" alt="" style='width:100%; height: 210px;'>
                            <div class="caption">
                                <h4 class='text-center'><strong><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></strong>
                                </h4>
                                <h3 class='text-center'>{{ product.price }} руб.</h3>
                                <div style='position: absolute; bottom: 0; right:40px;'>
								{% if request.user.is_authenticated %}
                                    {% if product.available %}
                                        <p class='text-right'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>
                                    {% else %}
                                        <p class="text-right"> <a href="{{product.get_absolute_url}}"><button class="btn btn-info">Товар отсутствует</button></a> </p>
                                    {% endif %}
                                {% endif %}
								</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
		{% endblock content %}
    </div>
    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
</script>
<script>
    $(document).ready(function(){
        $('.live_notify_list').css('list-style-type', 'none')
        $('.live_notify_list').css('padding', '15px')
        $('.live_notify_list').css('width', '250px')
    })
</script>
<script>
    $(document).ready(function(){
        $('.dropdown').on('click', function(){
            $('#notifications-list').on('mouseenter', function(){
                $('#notification-active').on('mouseenter', function(){
                    var slug = $(this).attr('data-slug')
                    data = {
                        slug: slug
                    }
                    $.ajax({
                        type: "GET",
                        url: "{% url 'notify_delete' %}",
                        data: data,
                        success: function(data){
                            console.log('deleted')
                        }
                    })
                })
            })
        })
    })
</script>
</body>
</html>
