{% extends 'ecomapp/base.html' %}
{% load static %}
{% block content %}
<div class='col-sm-12'>
<h2>{{ category.name }}</h2>
<hr>
<div class='col-sm-12'>
<div class='col-sm-8'>
{% for product in products_of_category %}
	<div class='col-sm-4' style='height: 400px;'>
	<a href='{{ product.get_absolute_url }}'><img src='{{ product.image.url }}' style='width:100%; height: 180px;'></a>
	<h4 class='text-center'>{{ product.title }}</h4>
	<p class='text-center' style='font-size:20px;'>Цена: <strong>{{ product.price }} руб.</strong></p>
	{% if request.user.is_authenticated %}
	{% if product.available %}
		<p class='text-right'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>
	{% else %}
		<p class="text-right"> <a href="{{product.get_absolute_url}}"><button class="btn btn-info">Товар отсутствует</button></a> </p>
	{% endif %}
	{% endif %}
	{% if not request.user.is_authenticated %}
		<p class='text-center'>
			Заказывать товар могут только авторизированные пользователи. Пожалуйста, <a href='#'>войдите</a> или <a href='#'>зарегистрируйтесь</a></p>
	{% endif %}
	</div>
{% endfor %}
</div>
</div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
</script>
{% endblock content %}
