{% extends 'accounts/base_.html' %}

{% block content %}
	<ul>
		<li><a href="{{me.get_absolute_url}}">Me</a></li>
		{% for user_p in users %}
			<li><a href="{{ user_p.get_absolute_url }}">{{ user_p }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}