{% load i18n cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src *; script-src *"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.desc}}"/>
  {% include 'includes/hreflang.html' %}
  {% block mainstyles %}
  {% include 'includes/styles.html' %}
  {% endblock mainstyles %}
  {% render_block "css" %}
  <link rel="stylesheet" href="/static/styles.css">

  <meta name=“robots” content=“noindex,nofollow”>
</head>
<body {% block body_class%}{% endblock body_class%}>
  <div class="black_text" style="color:black; padding:30px;">
    {% cms_toolbar %}
  </div>
  <!-- <div class="container">
      <ul class="nav">
          {% show_menu 0 100 100 100 %}
      </ul>
  </div> -->

  {% include 'includes/navbar.html' %}
  {% block breadcrumbs %}{% endblock breadcrumbs %}
  {% block content %}{% endblock content %}
  {% include 'includes/contact.html' %}
  {% include 'includes/footer.html' %}
  {% block mainscripts %}
  {% include 'includes/scripts.html' %}
  {% endblock mainscripts %}
  {% include 'includes/favours.html' %}
  {% include 'includes/basket.html' %}
  {% block scripts %}{% endblock scripts %}
  <div class="loading" hidden>
      <div class="loader"></div>
  </div>
  {% static_placeholder "footer" %}
  {% render_block "js" %}

</body>
</html>
