{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="    container_top product-card__wrap ">
  <div class="bread-crumbs__wrap">
    <div class="bread-crumbs">
        <a class="bread-crumbs_item" href="/">{% trans "home" %}</a>
        <a class="bread-crumbs_item" href="{% url 'shop' %}">{% trans "categories" %}</a>
        <a class="bread-crumbs_item" href="{% url 'category' slug=item.category.first.slug %}">{{item.category.first.title|lower}}</a>
        <span class="bread-crumbs_item bread-crumbs_item-active">{{item.name|truncatechars:20|lower}}</span>
    </div>    
  </div>

</section>
{% include 'includes/product_card.html' %}
{% include 'includes/similar_products.html' %}
{%endblock content%}
{% block scripts%}
<script src="/static/product_card.js"></script>
<script src="/static/similar_products.js"></script>
{% endblock scripts %}
