{% extends 'base.html' %}
{% load i18n %}
{% block breadcrumbs %}
<section class="container container_top product-card__wrap ">
    <div class="bread-crumbs">
        <a class="bread-crumbs_item" href="/">{% trans "home" %}</a>
        <span class="bread-crumbs_item">{% trans "Profile" %}</span>
    </div>
</section>
{%endblock breadcrumbs%}
{% block content %}
{% include 'includes/profile.html' %}
{%endblock content%}
