{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top product-card__wrap ">
  <div class="bread-crumbs">
      <a class="bread-crumbs_item" href="/">{% trans "home" %}</a>
      <span class="bread-crumbs_item">{% trans "результати пошуку" %}</span>
  </div>
</section>
<section class="container container_top ">
  <div class="catalog__wrap">
    {% for item in items %}
      <div class="catalog__item card">
          <div class="card__img">
              <a href="{% url 'item_detail' item.pk %}">
                <img class="lazyload" src="/static/img/svg/loader.svg" data-src="/media/{{item.image.first.image}}" alt="/media/{{item.image.first.alt}}">
              </a>
              {% if item.is_new %} 
              <div class="card__img_discont">
                NEW 
              </div>
              {%endif%}
          </div>
          <div class="card__main">
              <div class="card__main_title">
                <a href="{% url 'item_detail' item.pk %}">{{item.name}}</a></div>
              <div class="card__service">
                  <div class="card__wrap-prise">
                      <div class="card__discont">{{item.old_price}}</div>
                      <div class="card__prise">{{item.price}} грн</div>
                  </div>
              
              </div>
            </div>
        </div>
    {% empty %}
    {% trans 'На жаль за результатами вашого пошуку не було знайдено ніяких товарів' %}
    {% endfor %}
  </div>

</section>
{%endblock content%}