{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top">
  <h3 class='text-center'>
    {% trans "Спасибо за Ваш заказ! Он принят в обработку. В ближайшее время менеджер с Вами свяжется" %}
  </h3>
  <p class='text-center'><a href='{%url "index"%}'><button class='btn btn-default'>{% trans "Вернуться в покупкам" %}</button></a></p>
</section>
{%endblock content%}