// main: ../style.sass


.form__container_box{
  & .error{
    color: red;
  }
}
.error{
  color: red;
}


.arrow_left, .arrow_right, .arrow_top, .arrow_bottom{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  border-color: #fff;
}
.arrow{
  &_left{
    @include transform(rotate(-45deg));
  }
  &_right{
    @include transform(rotate(135deg));
  }
  &_top{
    @include transform(rotate(-135deg));
  }
  &_bottom{
    @include transform(rotate(45deg));
  }
}

.cross{
  position: relative;
  height: 20px;
  width: 20px;
  cursor: pointer;
  &:hover{
    background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);
    border-radius: 3px;
  }

  &::before,&::after{
    content: '';
    display: block;
    height: 16px;
    width: 2px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    margin: auto;
    right: 0;
  }
  &::before{
     @include transform(rotate(45deg) );
  }
  &::after{
    @include transform(rotate(-45deg) );
  }
}








.tabs{
    width:90%;
    height:auto;
    margin:0 auto;
}

/* tab list item */
.tabs .tabs-list{
    list-style:none;
    margin:0px;
    padding:0px;
}
.tabs .tabs-list li{
    width:100px;
    float:left;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    background-color:cornflowerblue;
    border-radius:3px;
}
.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color:white;
}

/* Tab content section */
.tabs .tab{
    display:none;
    width:96%;
    min-height:250px;
    height:auto;
    border-radius:3px;
    padding:20px 15px;

    color:darkslategray;
    clear:both;
}
.tabs .tab h3{
    border-bottom:3px solid cornflowerblue;
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}
.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display:block !important;
}
.tabs .tabs-list li.active{
    background-color:lavender !important;
    color:black !important;
}
.active a{
    color:black !important;
}

/* media query */
@media screen and (max-width:360px){
    .tabs{
        margin:0;
        width:96%;
    }
    .tabs .tabs-list li{
        width:80px;
    }
}
